.bt-page {
  &--content {
    &:after {
      content: "";
      display: block;
    }
  }
}
.bt-main-content-ss {
  padding: 105px 0;
  @media (max-width: $break-md) {
    padding: 60px 0;
  }
}
.no-results {
  form {
    input.search-field {
      width: 100%;
      margin-bottom: 8px;
      max-width: 775px;
    }
  }
}
.bt-sidebar {
  font-size: 16px;
}
.bt-main-post-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .bt-main-post-col {
    width: calc(67% - 10px);
  }
  .bt-sidebar-col {
    width: calc(33% - 10px);
  }
  @media (max-width: $break-md) {
    flex-direction: column;
    gap: 30px;
    .bt-main-post-col,
    .bt-sidebar-col {
      width: 100%;
    }
  }
}
.bt-list-post {
  display: flex;
  flex-direction: column;
  gap: 52px;
  .bt-post {
    &.sticky {
      background: #f5f5f5;
      padding: 25px 30px;
      border-radius: 15px;
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      .bt-cover-image {
        border-radius: 20px;
        padding-bottom: calc(0.54 * 100%);
        @media (max-width: 600px) {
          padding-bottom: calc(0.75 * 100%);
        }
      }
      a {
        display: block;
        line-height: 0;
      }
      img {
        margin: 0;
      }
    }
    &--infor {
      position: relative;
      display: flex;
    }
    &--category {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 4px 14px 6px 15px;
        border-radius: 5px;
      }
    }

    &--title {
      margin: 19px 0 23px 0;
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      text-transform: capitalize;
      display: block;
    }
    &--inner {
      width: calc(100% - 116px);
      padding-left: 32px;
      padding-top: 29px;
    }
    &--publish {
      display: flex;
      align-items: flex-end;
      min-width: 116px;
      flex-direction: column;
      margin-top: -22px;
      gap: 15px;
      .bt-date {
        span {
          color: $color-accent;
          text-align: right;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          display: block;
          &:last-child {
            font-size: 15px;
            margin-top: 10px;
          }
        }
      }
      .bt-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        path {
          fill: $color-accent;
        }
      }
    }
    .bt-post-author-w-avatar {
      border-top: 1px solid #cdcbcb;
      padding-top: 9px;
      margin-top: 14px;
    }
    &--meta {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 10px 20px;
      align-items: center;
      padding-top: 9px;
      margin-bottom: 27px;
      border-top: 1px solid #cdcbcb;
      .bt-meta {
        color: $color-text;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        a {
          display: flex;
          align-items: center;
          .bt-reading-time {
            display: flex;
            gap: 15px;
            align-items: center;
            @media (max-width: $break-xs) {
              gap: 10px;
            }
            &::before {
              content: "";
              width: 7px;
              height: 7px;
              background: #c5c5c5;
            }
          }
        }
        &--author {
          a {
            color: $color-accent;
            .bt-avatar-author {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }
            span {
              color: $color-text;
              margin-left: 8px;
              margin-right: 4px;
            }
          }
        }
        &--comment {
          a {
            display: flex;
            align-items: center;
            &::before {
              content: "";
              width: 7px;
              height: 7px;
              background: #c5c5c5;
              margin-right: 15px;
              @media (max-width: $break-xs) {
                margin-right: 10px;
              }
            }
            svg {
              margin-right: 10px;
              path {
                fill: $color-accent;
              }
            }
          }
        }
      }
    }
    &--content {
      @extend .__bt-format-post-content;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        text-decoration: underline;
      }
      .page-links {
        margin-top: 40px;
      }
    }
  }
  @media (max-width: $break-sm) {
    .bt-post {
      &--infor {
        flex-wrap: wrap;
      }
      &--inner {
        width: 100%;
        padding: 0;
      }
      &--publish {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 15px 0 10px;
        gap: 6px;
        align-items: flex-start;
        .bt-icon {
          width: auto;
          height: auto;
          background: transparent;
        }
        .bt-date {
          span {
            margin: 0 !important;
            font-size: 16px !important;
            font-weight: 500;
            display: inline-block;
          }
        }
        svg {
          width: 20px;
          height: auto;
        }
      }
    }
  }
  @media (max-width: $break-xs) {
    .bt-post {
      &.sticky {
        padding: 25px 15px;
      }
      &--title {
        font-size: 22px;
        margin: 15px 0;
      }
      &--meta {
        gap: 8px 10px;
        margin-bottom: 20px;
      }
    }
  }
}

.bt-pagination {
  @extend .__bt-pagination-style;
}

.bt-main-post {
  .bt-post {
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      .bt-cover-image {
        border-radius: 20px;
        padding-bottom: calc(0.54 * 100%);
        @media (max-width: 600px) {
          padding-bottom: calc(0.75 * 100%);
        }
      }
      a {
        display: block;
        line-height: 0;
      }
      img {
        margin: 0;
      }
    }
    &--infor {
      position: relative;
      display: flex;
    }
    &--category {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 4px 14px 6px 15px;
        border-radius: 5px;
      }
    }

    &--title {
      margin: 19px 0 23px 0;
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      text-transform: capitalize;
      display: block;
    }
    &--inner {
      width: calc(100% - 116px);
      padding-left: 32px;
      padding-top: 29px;
    }
    &--publish {
      display: flex;
      align-items: flex-end;
      min-width: 116px;
      flex-direction: column;
      margin-top: -22px;
      gap: 15px;
      .bt-date {
        span {
          color: $color-accent;
          text-align: right;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          display: block;
          &:last-child {
            font-size: 15px;
            margin-top: 10px;
          }
        }
      }
      .bt-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        path {
          fill: $color-accent;
        }
      }
    }
    .bt-post-author-w-avatar {
      border-top: 1px solid #cdcbcb;
      padding-top: 9px;
      margin-top: 14px;
    }
    &--meta {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 10px 20px;
      align-items: center;
      padding-top: 9px;
      margin-bottom: 27px;
      border-top: 1px solid #cdcbcb;
      .bt-meta {
        color: $color-text;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        a {
          display: flex;
          align-items: center;
          .bt-reading-time {
            display: flex;
            gap: 15px;
            align-items: center;
            @media (max-width: $break-xs) {
              gap: 10px;
            }
            &::before {
              content: "";
              width: 7px;
              height: 7px;
              background: #c5c5c5;
            }
          }
        }
        &--author {
          a {
            color: $color-accent;
            .bt-avatar-author {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }
            span {
              color: $color-text;
              margin-left: 8px;
              margin-right: 4px;
            }
          }
        }
        &--comment {
          a {
            display: flex;
            align-items: center;
            &::before {
              content: "";
              width: 7px;
              height: 7px;
              background: #c5c5c5;
              margin-right: 15px;
              @media (max-width: $break-xs) {
                margin-right: 10px;
              }
            }
            svg {
              margin-right: 10px;
              path {
                fill: $color-accent;
              }
            }
          }
        }
      }
    }
    &--content {
      @extend .__bt-format-post-content;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        text-decoration: underline;
      }
      .page-links {
        margin-top: 40px;
      }
    }
  }
  @media (max-width: $break-sm) {
    .bt-post {
      &--infor {
        flex-wrap: wrap;
      }
      &--inner {
        width: 100%;
        padding: 0;
      }
      &--publish {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 15px 0 10px;
        gap: 6px;
        align-items: flex-start;
        .bt-icon {
          width: auto;
          height: auto;
          background: transparent;
        }
        .bt-date {
          span {
            margin: 0 !important;
            font-size: 16px !important;
            font-weight: 500;
            display: inline-block;
          }
        }
        svg {
          width: 20px;
          height: auto;
        }
      }
    }
  }
  @media (max-width: $break-xs) {
    .bt-post {
      &--title {
        font-size: 22px;
        margin: 15px 0;
      }
      &--meta {
        gap: 8px 10px;
        margin-bottom: 20px;
      }
    }
  }
}
.bt-main-actions {
  display: flex;
  border-radius: 20px;
  background: $color-secondary;
  padding: 18px 40px 18px 41px;
  justify-content: space-between;
  gap: 15px;
  margin-top: 80px;
  flex-wrap: wrap;
  @media (max-width: $break-sm) {
    padding: 15px;
    gap: 5px;
    margin-top: 30px;
    span {
      font-size: 16px !important;
    }
  }
}
.bt-post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;
  span {
    display: inline-block;
    margin-right: 6px;
    color: $color-primary;
    font-family: $secondary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  a {
    display: inline-block;
    color: #54595f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 10px;
    background: #fff;
    padding: 7px 12px;
    line-height: normal;
  }
  @media (max-width: 600px) {
    gap: 6px;
    a {
      font-size: 14px;
    }
  }
}

.bt-post-share {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  span {
    display: inline-block;
    color: $color-primary;
    font-family: $secondary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
  }
  a {
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    &:hover {
      background: #fff;
    }
    svg {
      fill: currentColor;
    }
  }
}
.bt-post-author-w-avatar {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;

  &--thumbnail {
    display: flex;
    align-items: center;
    align-content: center;
    img {
      width: 28px;
      .bt-post & {
        height: 28px;
        border-radius: 50%;
      }
    }
  }

  &--name {
    color: $color-accent;
    .bt-post & {
      font-size: 16px;
      line-height: 30px;
      margin: 0;
      font-weight: 500;
      span {
        color: $color-text;
      }
    }
  }
}
.bt-post-author {
  display: flex;
  background: #f7f4ef;
  margin-top: 126px;
  padding: 0 100px 42px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 80px 20px;
  @media (max-width: 1100px) and (min-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 600px) {
    margin-top: 65px;
    border-radius: 15px 15px 60px 15px;
  }
  &--avatar {
    width: 100px;
    line-height: 0;
    margin-top: -57px;
    margin-bottom: 36px;
    img {
      width: 100%;
      border-radius: 10px 10px 10px 40px;
      @media (max-width: $break-xs) {
        border-radius: 10px 10px 10px 30px;
      }
    }
  }
  &--info {
    width: 100%;
  }
  .bt-post-author--name {
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;
    margin: 0 0 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .bt-name {
      font-family: $secondary-font;
      font-size: 28px;
      font-weight: 500;
      line-height: 24px;
      color: $color-primary;
      letter-spacing: 0.2px;
      text-transform: capitalize;
    }
    .bt-label {
      display: block;
      font-family: $text-font;
      color: $color-accent;
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  &--desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    line-height: 30px;
  }
  &--socials {
    @extend .__bt-socials-style;
    margin-top: 24px;
  }
  @media (max-width: $break-xs) {
    padding: 30px 15px;
    &--avatar {
      width: 80px;
    }
    &--name {
      font-size: 20px;
    }
    &--desc {
      font-size: 16px;
    }
  }
}

.__bt-post-style-default {
  .bt-post {
    &--inner {
      position: relative;
      &:hover {
        .bt-post {
          &--featured {
            .bt-cover-image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    &--featured {
      .bt-cover-image {
        padding: 0;
        min-height: 313px;
        border-radius: 20px 20px 0 0;
        img {
          transform: scale(1);
          transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
        }
      }
    }

    &--content {
      background: #f0f7f3;
      padding: 0 40px 30px 40px;
      border-radius: 0px 0px 20px 20px;
      position: relative;
      display: flex;
    }
    &--tags {
      display: flex;
      z-index: 9;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 4px 14px 6px 15px;
        border-radius: 5px;
      }
    }

    &--title {
      margin: 13px 0 0 0;
      line-height: 1;
      a {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-transform: capitalize;
        display: block;
        &:hover {
          color: $color-accent;
        }
      }
    }
    &--infor {
      width: calc(100% - 80px);
      padding-left: 30px;
      padding-top: 24px;
    }
    &--info {
      display: flex;
      align-items: center;
      gap: 10px 26px;
      flex-wrap: wrap;
      .bt-reading-time {
        color: $color-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        gap: 15px;
        align-items: center;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          background: #c5c5c5;
        }
      }
    }

    &--publish {
      display: flex;
      align-items: flex-end;
      min-width: 80px;
      flex-direction: column;
      margin-top: -22px;
      gap: 15px;
      .bt-date {
        span {
          color: $color-accent;
          text-align: right;
          font-family: $accent-font;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          display: block;
          &:last-child {
            font-size: 15px;
            margin-top: 10px;
          }
        }
      }
      .bt-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        path {
          fill: $color-accent;
        }
      }
    }
    .bt-post-author-w-avatar {
      border-top: 1px solid #cdcbcb;
      padding-top: 9px;
      margin-top: 14px;
    }
    @media (max-width: 1275px) and (min-width: $break-tl) {
      &--content {
          padding: 0 15px 30px 15px;
      }
  }
  @media (max-width: 860px) and (min-width: $break-sm) {
      &--content {
          padding: 0 15px 30px 15px;
      }
  }
    @media (max-width: $break-xs) {
      &--content {
          padding: 0 15px 30px 15px;
           flex-wrap: wrap;
      }
      &--info {
          gap: 14px 10px;
          .bt-reading-time {
              gap: 10px;
          }
      }
      &--infor {
        width: 100%;
        padding: 0;
      }
      &--publish {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 15px 0 10px;
        gap: 6px;
        align-items: flex-start;
        .bt-icon {
          width: auto;
          height: auto;
          background: transparent;
        }
        .bt-date {
          span {
            margin: 0 !important;
            font-size: 16px !important;
            font-weight: 500;
            display: inline-block;
          }
        }
        svg {
          width: 20px;
          height: auto;
        }
      }
  }
  }
}

.__bt-post-style-1 {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
    }
    &--featured {
      position: relative;
      overflow: hidden;
      a {
        display: block;
        line-height: 0;
      }
      .bt-cover-image {
        min-height: 266px;
        border-radius: 20px 20px 0 0;
      }
    }

    &--tags {
      position: absolute;
      top: 22px;
      left: 25px;
      a {
        background-color: $color-accent;
        font-family: $accent-font;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 6px 15px;
        border-radius: 5px;
        display: inline-block;
      }
    }
    &--content {
      position: relative;
      padding: 45px 31px 24px 32px;
      background: #fff;
      border-radius: 0 0 20px 20px;
    }
    .bt-post-author-w-avatar {
      position: absolute;
      top: -43px;
      background: $color-secondary;
      left: 0;
      padding: 17px 34px 15px 21px;
      border-radius: 0px 10px 10px 0px;
      display: flex;
      gap: 7px;
      &--thumbnail {
        img {
          height: 32px;
          width: 32px;
        }
      }
      &--name {
        display: flex;
        flex-direction: column;
        color: $color-primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        span {
          color: $color-accent;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    &--publish {
      color: $color-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 7px;
    }

    &--title {
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-transform: capitalize;
      word-break: break-word;
      margin-bottom: 11px;
      a {
        @extend .__bt-max-line-ellipsis;
      }
    }
    &--line-ellipse {
      margin-bottom: 14.75px;
      margin-top: 20px;
      display: flex;
      svg {
        width: 100%;
      }
    }
    &--button {
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-accent;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
.__bt-post-style-2 {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      border-radius: 0 0 20px 20px;
    }
    &--featured {
      position: relative;
      overflow: hidden;
      a {
        display: block;
        line-height: 0;
      }
      .bt-cover-image {
        min-height: 304px;
        border-radius: 20px;
      }
    }
    &--content {
      position: relative;
      padding: 20px 50px 20px 61px;
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        padding: 20px;
      }
      @media (max-width: 800px) and (min-width: $break-sm) {
        padding: 20px;
      }
      @media (max-width: $break-xs) {
        padding: 20px;
      }
    }
    .bt-post-author-w-avatar {
      border-radius: 0px 10px 0px 0px;
      background: #fff;
      position: absolute;
      padding: 20px 38px 5px 61px;
      left: 0;
      top: -41px;
      @media (max-width: $break-lg) and (min-width: $break-tl) {
        padding: 20px 25px 5px 20px;
      }
      @media (max-width: 800px) and (min-width: $break-sm) {
        padding: 20px 25px 5px 20px;
      }
      @media (max-width: $break-xs) {
        padding: 20px 25px 5px 20px;
      }
      &--thumbnail {
        img {
          width: 28px;
          height: 28px;
        }
      }
      &--name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        text-transform: capitalize;
        color: $color-accent;
        span {
          color: $color-text;
          font-family: "DM Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px;
          text-transform: capitalize;
        }
      }
    }
    &--publish {
      color: $color-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 7px;
      margin-top: 19px;
      &::after {
        content: "";
        background: #d9d9d9;
        width: 100px;
        height: 1px;
        margin-left: 15px;
        @media (max-width: 370px) {
          width: 75px;
        }
      }
    }

    &--title {
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      text-transform: capitalize;
      word-break: break-word;
      margin-bottom: 7px;
      position: relative;
      a {
        @extend .__bt-max-line-ellipsis;
      }
    }
    &--excerpt {
      color: $color-text;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
}
.__bt-post-style-3 {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &--image-wrap {
      position: relative;
      width: 49%;
      @media (max-width: $break-sm) {
        width: 100%;
      }
    }
    &--featured {
      position: relative;
      overflow: hidden;
      a {
        display: block;
        line-height: 0;
      }
      .bt-cover-image {
        min-height: 301px;
        border-radius: 20px;
      }
    }

    &--tags {
      position: absolute;
      top: 22px;
      left: 25px;
      a {
        background-color: $color-accent;
        font-family: $accent-font;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 6px 15px;
        border-radius: 5px;
        display: inline-block;
      }
    }
    &--content {
      width: calc(51% + 40px);
      background: #f0f7f3;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: -40px;
      position: relative;
      padding: 38px 40px 38px 46px;
      border-radius: 20px;
      @media (max-width: $break-sm) {
        width: 100%;
        margin: -30px 15px 0 15px;
        padding: 30px 20px 30px 20px;
      }
    }
    .bt-post-author-w-avatar {
      position: absolute;
      bottom: 35px;
      background: $color-secondary;
      left: 0;
      padding: 17px 34px 15px 21px;
      border-radius: 0px 10px 10px 0px;
      display: flex;
      gap: 7px;
      @media (max-width: $break-sm) {
        bottom: 45px;
      }
      &--thumbnail {
        img {
          height: 32px;
          width: 32px;
        }
      }
      &--name {
        display: flex;
        flex-direction: column;
        color: $color-primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        span {
          color: $color-accent;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    &--publish {
      color: $color-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 7px;
      @media (max-width: 370px) {
        font-size: 14px;
        gap: 5px;
        svg {
          width: 18px;
        }
      }
    }

    &--title {
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
      text-transform: capitalize;
      word-break: break-word;
      margin-bottom: 6px;
      max-width: 401px;
      @media (max-width: $break-sm) {
        font-size: 20px;
        line-height: 28px;
      }
      a {
        @extend .__bt-max-line-ellipsis;
      }
    }
    &--excerpt {
      color: $color-text;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      @extend .__bt-max-line-ellipsis;
    }
    &--line-ellipse {
      margin-bottom: 15px;
      margin-top: 29px;
      display: flex;
      @media (max-width: $break-sm) {
        margin-top: 15px;
      }
      svg {
        width: 100%;
      }
    }
    &--infor {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
    &--button {
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-accent;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 370px) {
          font-size: 14px;
          gap: 5px;
          svg {
            width: 18px;
          }
        }
      }
    }
  }
}
.bt-list-post-grid {
  display: grid;
  gap: 20px;
  @extend .__bt-post-style-default;
  .bt-post {
    &--content {
      background: #f0f7f3;
    }
  }
  @media (min-width: $break-md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.search .bt-list-post-grid {
  @media (min-width: $break-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $break-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

}
.bt-form-search{
  form{
    display: flex;
    margin-bottom: 25px;
    label{
      margin: 0;
      width: 100%;
      input{
        width: 100%;
        border-right: none;
        border-radius: 10px 0 0 10px;
      }
    }
    input[type=submit]{
      border-radius: 0 10px 10px 0;
    }
  }
}
.bt-related-posts {
  margin-top: 67px;
  &--heading {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    .bt-head {
      color: $color-primary;
      font-family: $secondary-font;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
    span {
      color: $color-primary;
      font-family: $accent-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      background: $color-secondary;
      border-radius: 10px;
      padding: 9px 27px 10px;
    }
  }
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @extend .__bt-post-style-default;
    .bt-post {
      width: calc(50% - 15px);
      @media (max-width: $break-lg) and (min-width: 992px) {
        &--content {
          padding-left: 15px;
          padding-right: 15px;
        }
        &--infor {
          padding-left: 15px;
        }
      }
      @media (max-width: $break-sm) {
        width: 100%;
      }
      @media(max-width:$break-xs){
        &--content {
          padding-left: 15px;
          padding-right: 15px;
        }
        &--infor {
          padding-left: 15px;
        }
      }
    }
  }
  @media (max-width: $break-sm) {
    margin-top: 40px;
    &--heading {
      margin-bottom: 28px;
      gap: 0;
      align-items: flex-start;
      flex-direction: column-reverse;
      .bt-head {
        font-size: 35px;
      }
      span {
        font-size: 14px;
        padding: 7px 16px 8px;
      }
    }
  }
}

.bt-post-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-top: 52px;
  &--item {
    position: relative;
    width: calc(50% - 20px);
    &.bt-prev {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -30px;
        width: 1px;
        height: 100%;
        background: #c7c7c7;
      }
    }
    &.bt-next {
      text-align: right;
      margin-left: 50%;
    }
    &.bt-prev + &.bt-next {
      margin-left: 0;
    }
    span {
      display: block;
      font-family: $primary-font;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 24px;
      word-break: break-word;
      margin: 0;
    }
  }
  @media (max-width: $break-sm) {
    &--item {
      span {
        font-size: 13px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  @media (max-width: $break-xs) {
    &--item {
      width: 100%;
      &.bt-prev:before {
        display: none;
      }
      &.bt-next {
        text-align: left;
        margin-left: 0;
      }
    }
  }
}
