.bt-form-rating {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  &__label {
    margin: 0 !important;
  }
  &__field {
    padding: 0;
  }
  &__list {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    input {
      display: none;
    }
    label {
      font-size: 0 !important;
      line-height: 0 !important;
      margin: 0 !important;
      cursor: pointer;
      svg {
        width: 16px;
        height: auto;
        fill: #cdcdcd;
      }
    }
    input:checked ~ label svg,
    input + label:hover ~ label svg,
    input + label:hover svg {
      fill: #efcf0a;
    }
  }
}

.bt-comment-stars {
  display: flex;
  gap: 4px;
  font-size: 0;
  line-height: 0;
  span {
    &.bt-filled svg {
      fill: #efcf0a;
    }
    svg {
      fill: #cdcdcd;
      width: 16px;
      height: auto;
    }
  }
}

.bt-comment-wrapper {
  margin-top: 67px;
  @media(max-width:$break-sm){
    margin-top: 40px;
  }
  .bt-heading-comment {
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: #232424;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    gap: 4px 11px;
    align-items: baseline;
    flex-wrap: wrap;
    span {
      color: #54595f;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      text-transform: capitalize;
    }
  }
  .bt-comment-item {
    &.depth-5 {
      .bt-comment {
        padding: 30px;
      }
    }
    .bt-comment-item {
      margin-left: 40px;
    }
  }
  .trackback,
  .pingback {
    .bt-comment {
      padding: 30px;
      .bt-avatar {
        display: none;
      }
    }
    .bt-content {
      width: 100%;
    }
  }
  .bt-comment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 20px;
    background: #f0f7f3;
    .bt-avatar {
      border-radius: 20px 0px 0px 20px;
      background: $color-secondary;
      padding: 38px 0 20px 59px;
      img {
        border-radius: 50%;
        width: 110px;
        margin-right: -50px;
        min-width: 110px;
      }
    }
  }
  .bt-content {
    width: calc(100% - 119px);
    padding: 38px 80px 34px 70px;
    @media(max-width:$break-sm){
      padding-right: 40px;
    }
    .bt-name {
      margin: 0;
      color: #232424;
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 6px;
      padding-right: 100px;
    }
    .bt-date {
      color: $color-accent;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      padding-right: 100px;
    }
    .bt-text {
      width: 100%;
      margin-top: 10px;
      line-height: 30px;
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    .comment-reply-link {
      position: absolute;
      top: 38px;
      right: 34px;
      font-family: $primary-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: $color-accent;
      padding: 10px 27px 10px;
      border-radius: 10px;
      line-height: normal;
    }
  }
  .comment-respond {
    margin-top: 91px;
    padding: 0;
    border-radius: 0;
    @media(max-width:$break-sm){
      margin-top: 45px;
    }
    .comment-reply-title {
      color: #232424;
      font-family: $secondary-font;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      position: relative;
      margin: 0;
      text-transform: uppercase;
      a {
        text-decoration: underline;
        text-underline-offset: 6px;
      }
      small {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .comment-form {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .comment-notes {
        margin: 0 0 14px 0;
        color: #54595f;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        @media(max-width:$break-sm){
          font-size: 16px;
          line-height: 24px;
          margin-top: 5px;
        }
      }
      .bt-logged-in-as {
        width: 100%;
        margin: 0 0 14px 0;
        a {
          text-decoration: underline;
        }
      }
      .bt-form-author,
      .bt-form-email {
        width: 100%;
      }
      .bt-form-message,
      .form-submit {
        width: 100%;
      }
      .form-submit {
        margin: 10px 0 0 0;
      }
      label {
        font-family: $primary-font;
        line-height: 100%;
        color: $color-primary;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 14px;
        display: none;
      }
      input[type="text"] {
        border: none;
        width: 100%;
        max-width: calc(100% - 50px);
        min-height: unset;
        border-radius: 20px;
        background: #f0f7f3;
        color: #54595f;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
      textarea {
        width: 100%;
        max-width: calc(100% - 50px);
        min-height: unset;
        border: none;
        border-radius: 20px;
        background: #f0f7f3;
        color: #54595f;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
      input[type="submit"] {
        text-transform: uppercase;
        border-radius: 10px;
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160.2%;
        text-transform: uppercase;
        background: $color-secondary;
        padding: 16px 41px 15px;
      }
    }
  }
  @media (max-width: $break-lg) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
  }
  @media (max-width: $break-sm) {
    .bt-content {
      .bt-text {
        font-size: 16px;
      }
      .comment-reply-link {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $break-xs) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
    .bt-comment {
      .bt-avatar {
        width: 100%;
        background: 0;
        padding: 15px 15px 0;
        img{
          border-radius: 50%;
          width: 50px;
          margin-right: 0;
          min-width: 50px;
          display: block;
        }
      }
      .bt-content {
        width: 100%;
        padding: 10px 15px 64px;
      }
    }
    .bt-content {
      .bt-name {
        font-size: 18px;
      }
      .bt-date {
        font-size: 14px;
      }
      .comment-reply-link {
        top: auto;
        bottom: 15px;
      }
    }
  }
}
