@keyframes effectSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	--circle-diameter: 56vw;
}
@keyframes effectOrbit {
	0% {
		transform: rotate(0deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(0deg);
	}
	25% {
		transform: rotate(90deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-90deg);
	}
	50% {
		transform: rotate(180deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-180deg);
	}
	75% {
		transform: rotate(270deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-270deg);
	}
	100% {
		transform: rotate(360deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-360deg);
	}
}
@keyframes effectOrbitScale {
	0% {
		transform: scale(0.5);
	}
	25% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}

@keyframes effectScaleAnimation {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.04);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.08);
		opacity: 0;
	}
}

@keyframes effectRotateAnimation {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

@keyframes effectBuble {
	from {
		opacity: 0.15;
	}
	25% {
		opacity: 0.5;
		transform: scale3d(3, 3, 4);
	}
	50% {
		opacity: 0.75;
	}
	75% {
		opacity: 1;
	}
	to {
		opacity: 0.15;
	}
}

@keyframes effectBgScroll {
	from {
		background-position: center center;
	}
	25% {
		background-position: center 75%;
	}
	75% {
		background-position: center 25%;
	}
	to {
		background-position: center center;
	}
}
@keyframes effectBgScrollHorizontal {
	from {
		background-position: center center;
	}
	25% {
		background-position: 75% center;
	}
	75% {
		background-position: 25% center;
	}
	to {
		background-position: center center;
	}
}
.bt-bg-scroll-enable {
	.bt-bg-scroll-effect,
	.bt-site-titlebar {
		animation: effectBgScroll 70s infinite;
	}
	.bt-bg-scroll-horizontal-effect {
		@media (min-width: 1025px) {
			animation: effectBgScrollHorizontal 50s infinite;
		}
	}
}
@keyframes effectscaleBackground {
	0% {
		background-size: 863px auto;
	}
	50% {
		background-size: 820px auto;
	}
	100% {
		background-size: 863px auto;
	}
}

@keyframes effectImageZoom {
	from {
		transform: sscale(1);
	}
	50% {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}

.bt-img-zoom-enable {
	.bt-image-zoom-effect {
		> .elementor-widget-container {
			overflow: hidden;
		}
		img {
			@media (min-width: $break-lg) {
				animation: effectImageZoom 50s infinite;
				transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
			}
		}
	}
}
.bt-img-zoom-enable {
	.bt-image-effect {
		.bt-post {
			.bt-cover-image img {
				transform: scale(1);
				transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
			}
			&:hover {
				.bt-cover-image img {
					transform: scale(1.1);
				}
			}
		}
	}
	.bt-pricing-item {
		.bt-cover-image img {
			transform: scale(1);
			transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
		}
		&:hover {
			.bt-cover-image img {
				transform: scale(1.1);
			}
		}
	}
}

.bt-effect-overflow {
	overflow-x: clip !important;
}

@keyframes effectMoveHorizontal {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	50% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes effectMoveHorizontalCenter {
	0% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}
	50% {
		-webkit-transform: translateX(-50%) translate3d(-10px, 0, 0);
		transform: translateX(-50%) translate3d(-10px, 0, 0);
	}
	100% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}
}

.bt-effect-move-horizontal {
	animation: effectMoveHorizontal 2s linear infinite;
}
.bt-effect-move-horizontal-center {
	animation: effectMoveHorizontalCenter 2s linear infinite;
}

@keyframes effectVibrateImages {
	0% {
		transform: translateY(8px);
	}

	50% {
		transform: translateY(4px);
	}

	100% {
		transform: translateY(8px);
	}
}

@keyframes effectVibrateImagesSink {
	100% {
		transform: translateY(8px);
	}
}
.bt-images-vibrate-effect {
	img {
		animation-name: effectVibrateImagesSink, effectVibrateImages;
		animation-duration: 0.3s, 1.5s;
		animation-delay: 0s, 0.3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
	}
}

@-webkit-keyframes effectPlayButton {
	0% {
		-webkit-box-shadow: 0 0 0 0 #fff;
	}

	70% {
		-webkit-box-shadow: 0 0 0 30px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}

	70% {
		box-shadow: 0 0 0 30px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}
@-webkit-keyframes effectPlayButton2 {
	0% {
		-webkit-box-shadow: 0 0 0 0 $color-secondary;
	}

	70% {
		-webkit-box-shadow: 0 0 0 30px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton2 {
	0% {
		box-shadow: 0 0 0 0 $color-secondary;
	}

	70% {
		box-shadow: 0 0 0 30px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}
.bt-play-btn-effect {
	.elementor-icon-box-icon {
		-webkit-animation: effectPlayButton 2s infinite;
		animation: effectPlayButton 2s infinite;
		border-radius: 50%;
		> a {
			display: block;
		}
	}
}
.bt-play-btn-effect2 {
	.elementor-icon-box-icon,
	.elementor-icon {
		-webkit-animation: effectPlayButton2 2s infinite;
		animation: effectPlayButton2 2s infinite;
		border-radius: 50%;
		> a {
			display: block;
		}
	}
}

.bt-button-hover-accent {
	.elementor-button-wrapper {
		display: flex;
	}
	.elementor-button,
	a {
		position: relative;
		overflow: hidden;

		.elementor-button-content-wrapper,span,svg {
			position: relative;
			z-index: 1;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			aspect-ratio: 1 / 1;
			background: $color-accent;
			border-radius: 50%;
			transform: translate(-50%, 50%) scale(0);
			transition: transform 0.9s ease;
		}
		&:hover {
			color: #fff !important;
			&::before {
				transform: translate(-50%, 50%) scale(1.8);
			}
			svg{
				fill: $color-accent;
			}
		}
	}
}
.bt-button-hover-secondary {
	.elementor-button-wrapper {
		display: flex;
	}
	.elementor-button,
	a {
		position: relative;
		overflow: hidden;

		.elementor-button-content-wrapper,span,svg {
			position: relative;
			z-index: 1;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			aspect-ratio: 1 / 1;
			background: $color-secondary;
			border-radius: 50%;
			transform: translate(-50%, 50%) scale(0);
			transition: transform 0.9s ease;
		}
		&:hover {
			color: $color-primary !important;
			&::before {
				transform: translate(-50%, 50%) scale(1.8);
			}
			svg{
				fill: $color-accent;
			}
		}
	}
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}
