.elementor-element {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.elementor-widget-heading .elementor-heading-title {
  span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }
  a {
    &:hover {
      color: $color-accent !important;
    }
  }
}
.elementor-headline,
.elementor-widget-image img {
  margin: 0;
}
.elementor-widget-text-editor {
  .elementor-widget-container,
  .elementor-text-editor {
    > *:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
    margin: 0 0 16px;
  }
}
.elementor-widget-icon {
  line-height: 0;
}
.elementor-button .elementor-button-icon {
  display: flex;
}
.elementor-image-box-img img {
  margin: 0;
}
.elementor-widget-woocommerce-menu-cart {
  line-height: 1;
  .elementor-button-icon {
    display: flex;
  }
}

.elementor-pagination {
  @extend .__bt-pagination-style;
  .page-numbers {
    &.prev,
    &.next {
      font-size: inherit;
    }
  }
  span {
    &.prev,
    &.next {
      display: none;
    }
  }
}

.elementor-widget-form {
  .elementor-field,
  .elementor-field-textual {
    outline: none !important;
    box-shadow: none !important;
  }
  .elementor-form {
    ::-webkit-input-placeholder {
      opacity: 1 !important;
    }
    ::-moz-placeholder {
      opacity: 1 !important;
    }
    :-ms-input-placeholder {
      opacity: 1 !important;
    }
    .elementor-field,
    .elementor-field-textual {
      padding: 0 8px;
    }
  }
  .elementor-form[name="Contact With Us"] {
    .elementor-field-type-submit {
      justify-content: center;
      .elementor-button {
        flex-basis: auto;
      }
    }
  }
}

.elementor-widget-shortcode {
  width: 100%;
  .tnp-subscription-minimal {
    margin: 0;
    @extend .__bt-newsletter-form-style;
  }
}

.elementor-widget-loop-grid {
  .elementor-posts-masonry {
    .bt-post--featured .bt-cover-image {
      padding-bottom: 0 !important;
      img {
        position: static;
      }
    }
  }

  .elementor-loop-container {
    .e-loop-item {
      > .elementor-section-wrap,
      .e-parent {
        height: 100%;
        .elementor-widget {
          height: 100%;
          article.bt-post {
            height: 100%;
            .bt-post--inner {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.bt-align-left {
  .elementor-counter {
    .elementor-counter-number-prefix,
    .elementor-counter-number-suffix {
      flex-grow: unset;
    }
    .elementor-counter-title {
      text-align: left;
    }
  }
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 50px;

  &--item {
    font-size: 16px;
    color: $color-text;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    strong {
      font-weight: 600;
      color: $color-primary;
      margin-right: 5px;
    }
    a {
      display: flex;
      align-items: center;
      grid-gap: 8px;
    }
    &.address {
      display: flex;
      align-items: center;
      grid-gap: 8px;
    }
    span {
      width: calc(100% - 37px);
      display: flex;
      min-width: max-content;
    }
    svg {
      display: inline-block;
    }
  }

  &.separator {
    .bt-elwg-site-infor {
      &--item {
        position: relative;
        &:not(:last-child) {
          &::before {
            content: " ";
            display: inline-block;
            height: 70%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-text;
          }
        }
      }
    }
  }

  &.separator-tb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (min-width: 768px) and (max-width: 1024.98px) {
        content: none !important;
      }
    }
  }

  &.separator-mb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (max-width: 767.98px) {
        content: none !important;
      }
    }
  }

  &--style-1 {
    row-gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 850px) and (min-width: $break-sm) {
      column-gap: 15px;
    }
    @media (max-width: $break-sm) and (min-width: $break-xs) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
    }
    @media (max-width: $break-xs) {
      grid-template-columns: repeat(1, 1fr);
    }
    .bt-elwg-site-infor {
      &--item {
        > a,
        &.address {
          display: flex;
          align-items: center;
          gap: 16px;
          background: #fff;
          border-radius: 20px;
          padding: 47px 20px 39px 20px;
          flex-direction: column;
          @media (max-width: 850px) and (min-width: $break-sm) {
            padding: 30px 15px;
          }
          @media (max-width: $break-sm) and (min-width: $break-xs) {
            padding: 30px 15px;
          }
        }
        &-icon {
          svg {
            width: 100%;
            height: auto;
            max-width: 70px;
            margin: 0;
            display: block;
            @media (max-width: $break-lg) and (min-width: $break-md) {
              max-width: 55px;
            }
            @media (max-width: $break-sm) {
              max-width: 55px;
            }
          }
        }
        &-content {
          text-align: center;
          max-width: 287px;
          h4 {
            color: $color-primary;
            font-family: $secondary-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 133.2%;
            margin-bottom: 9px;
            display: block;
          }
          p {
            color: $color-text;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            display: block;
            margin: 0 0 7px 0;
            @media (max-width: 850px) {
              font-size: 15px;
            }
          }
          span {
            color: $color-accent;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            display: block;
            min-width: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

.bt-elwg-site-social,
.bt-elwg-site-social-style-2 {
  @extend .__bt-socials-style;
}

.bt-elwg-site-social-style-2 {
  gap: 3px;
  .bt-title {
    margin-right: 15px;
  }

  a {
    background: transparent !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    svg {
      fill: $color-text;
      width: auto;
      height: 18px;
      width: 18px;
      transition: $transition;
    }
    &:hover {
      background: $color-secondary !important;
      svg {
        fill: $color-primary;
      }
    }
  }
}

.bt-elwg-site-copyright {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 150%;
  color: $color-primary;
  a {
    color: $color-accent;
    .elementor & {
      text-decoration: underline;
    }
  }
}

.bt-elwg-instagram-posts {
  @extend .__instagram-posts-style;
}

.bt-elwg-page-breadcrumb {
  position: relative;
  padding: 16px 32px 16px 45px;
  border-radius: 10px;
  background: $color-secondary;
  .icon-breadcrumb {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: $color-accent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    img,
    svg {
      width: 19px;
      height: 19px;
      object-fit: cover;
    }
  }
  .bt-page-breadcrumb {
    position: relative;
    z-index: 3;
    color: $color-text;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    word-break: break-word;
    display: flex;
    grid-gap: 10px;
    .bt-deli{
      color: currentcolor !important;
    }
    @media (max-width: $break-sm) {
      font-size: 16px;
      grid-gap: 6px;
      flex-wrap: wrap;
    }
  }
  @media (max-width: $break-sm) {
    background: transparent !important;
    padding: 0 0 0 26px;
    .icon-breadcrumb {
      width: auto;
      height: auto;
      background: transparent !important;
      left: 0;
      transform: none;
      top: 1px;
      img,
      svg {
        width: 16px;
        height: 16px;
      }
    }
    .bt-page-breadcrumb {
      color: #fff !important;
      .bt-deli{
        color: #fff !important;
      }
    }
  }
}
.bt-elwg-page-titlebar {
  @extend .__bt-page-titlebar-style;
}
.bt-elwg-step-list {
  &--default {
    position: relative;
    &.bt-has-show-more {
      padding-bottom: 70px;
    }
    .bt-step-list {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #eacee8;
        z-index: 1;
      }
      .bt-line-progress {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 0;
        background: $color-accent;
        z-index: 1;
      }
    }
    .bt-step-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 3;
      &.bt-hide-item {
        display: none;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .bt-step-item {
          &--left {
            padding-left: 115px;
            padding-right: 0;
          }
          &--right {
            padding-left: 0;
            padding-right: 115px;
          }
          &--number {
            left: auto;
            right: 0;
            transform: translate(50%, -50%);
          }
        }
      }
      &--left {
        width: 50%;
        padding-right: 115px;
      }
      &--right {
        position: relative;
        width: 50%;
        padding-left: 115px;
      }
      &--number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        line-height: 0;
        transform: translate(-50%, -50%);
        svg {
          fill: #f5f5f5;
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          font-family: $secondary-font;
          font-size: 24px;
          font-weight: 700;
          color: $color-primary;
          line-height: 1;
          transform: translate(-50%, -50%);
        }
      }
      &--image {
        .bt-cover-image {
          padding-bottom: 58%;
          border-radius: 15px;
          border: 10px solid #fff;
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
        }
      }
      &--subtitle {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: $color-accent;
        margin: 0 0 8px;
      }
      &--title {
        font-size: 32px;
        font-weight: 700;
        color: $color-primary;
        margin: 0 0 12px;
        span {
          font-family: $secondary-font;
          font-weight: 700;
          color: $color-accent;
        }
      }
      &--desc {
        margin-bottom: 36px;
      }
      &--button {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: #fff;
        background: $color-accent;
        border-radius: 15px;
        padding: 16px 40px;
      }
    }
    .bt-step-show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 480px;
      display: flex;
      align-items: end;
      justify-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 65%);
      z-index: 9;
      &--button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        color: $color-primary;
        background: #fff;
        padding: 15px 40px;
        border-radius: 15px;
        border: 1px solid #c6c6c6;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
        svg {
          fill: $color-accent;
          width: 32px;
          height: auto;
        }
        &:hover {
          color: $color-accent;
        }
      }
    }
    @media (max-width: $break-tl) {
      &.bt-has-show-more {
        padding-bottom: 30px;
      }
      .bt-step-item {
        &:nth-child(even) {
          .bt-step-item {
            &--left {
              padding-left: 65px;
              padding-right: 0;
            }
            &--right {
              padding-left: 0;
              padding-right: 65px;
            }
          }
        }
        &--left {
          padding-right: 60px;
        }
        &--right {
          padding-left: 60px;
        }
        &--number {
          width: 70px;
        }
      }
      .bt-step-show-more {
        max-height: 360px;
      }
    }
    @media (max-width: $break-sm) {
      .bt-step-list {
        &:before,
        .bt-line-progress {
          left: 25px;
        }
      }
      .bt-step-item {
        &--left {
          width: 100%;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--right {
          width: 100%;
          padding-top: 30px;
          padding-left: 70px !important;
          padding-right: 0 !important;
        }
        &--number {
          left: 0 !important;
          width: 50px;
          transform: translate(0, -50%) !important;
          span {
            font-size: 20px;
          }
        }
        &--button {
          font-size: 14px;
          padding: 12px 25px 12px 25px;
        }
      }
      .bt-step-show-more {
        &--button {
          font-size: 16px;
          padding: 12px 25px 12px 25px;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}

.bt-elwg-post-grid {
  &--default {
    @extend .__bt-post-style-default;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(33.33% - 20px);
        @media (max-width: $break-md) {
          width: calc(50% - 15px);
        }
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
  &--style-1 {
    @extend .__bt-post-style-1;
    .bt-post-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .bt-post {
        width: calc(50% - 15px);
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }
    }
  }
}

.bt-elwg-post-loop-item {
  &--default {
    @extend .__bt-post-style-default;
  }
  &--style-1 {
    @extend .__bt-post-style-1;
  }
  &--style-2 {
    @extend .__bt-post-style-2;
  }
  &--style-3 {
    @extend .__bt-post-style-3;
  }
  &--menu {
    .bt-post {
      &--inner {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      &--featured {
        .bt-cover-image {
          width: 100px;
          min-height: 100px;
          height: 100px;
          padding: 0;
          border-radius: 15px;
        }
      }
      &--content {
        width: calc(100% - 115px);
      }
      &--title {
        font-family: $secondary-font;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
      }
      &--infor {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        row-gap: 5px;
        .bt-post-author-icon {
          display: flex;
          gap: 8px;
          align-items: center;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #ccc;
          h4 {
            font-size: 15px;
            font-weight: 400;
            margin: 0;
            color: #555;
            line-height: normal;
          }
        }
      }
      &--publish {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 15px;
        font-weight: 400;
        color: #555;
        line-height: normal;
        svg {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}

.bt-elwg-team-loop-item {
  &--default {
    @extend .__bt-team-style-default;
  }
}
.bt-elwg-account-login {
  display: flex;
  width: 100%;

  &-inner {
    width: 100%;

    ul {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      align-content: center;

      li {
        list-style-type: none;
        position: relative;
        display: flex;

        a,
        span {
          color: $color-primary;
          font-family: $secondary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration-line: underline;
        }

        &:not(:first-child) {
          &::before {
            content: " ";
            display: inline-block;
            width: 2px;
            height: 65%;
            background-color: var(--e-global-color-primary, #222);
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%) rotate(17deg);
          }
        }
      }
      &.status-login {
        li {
          a,
          span {
            text-decoration-line: none;
          }
        }
      }
    }
  }
}

.bt-elwg-testimonial-slider {
  &--default {
    .bt-testimonial-slider {
      max-width: 1050px;
      margin: 0 auto;
      &--for {
        .bt-post {
          padding: 5px;
          &--quote-icon {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 74px;
            height: 74px;
            color: #fff;
            background: $color-accent;
            margin: 0 auto -37px;
            border-radius: 100px;
          }
          &--inner {
            position: relative;
            overflow: hidden;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 274px;
            padding: 60px 25px 86px;
            background: #fff;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
            border-radius: 15px;
          }
          &--desc {
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
            text-align: center;
            > * {
              max-width: 720px;
              margin-left: auto;
              margin-right: auto;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &--nav {
        position: relative;
        margin-top: -56px;
        padding: 0 100px;
        .slick-arrow {
          position: absolute;
          top: 50%;
          left: 75px;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 46px;
          min-height: 48px;
          color: $color-accent;
          background: #fff;
          padding: 0;
          border: none;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.09);
          transform: translateY(-50%);
          transition: all 0.3s;
          svg {
            fill: currentColor;
          }
          &.slick-next {
            left: auto;
            right: 75px;
          }
          &:hover {
            color: #fff;
            background: $color-accent;
          }
        }
        .slick-list {
          overflow: hidden;
          background: #f5f5f5;
          border-radius: 15px;
        }
        .slick-current {
          .bt-post {
            &--inner {
              background: $color-accent;
            }
            &--avatar {
              display: flex;
              overflow: hidden;
              width: 52px;
              height: 52px;
              background: #f5f5f5;
              border-radius: 100px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &--title,
            &--job {
              color: #fff;
            }
          }
        }
        .bt-post {
          cursor: pointer;
          &--infor {
            position: relative;
            display: flex;
            align-items: center;
            padding: 30px 25px;
            transition: all 0.3s;
          }
          &--avatar {
            display: flex;
            overflow: hidden;
            width: 52px;
            height: 52px;
            background: #f5f5f5;
            border-radius: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &--title-wrap {
            width: calc(100% - 52px);
            padding-left: 12px;
          }
          &--title {
            font-size: 20px;
            margin-bottom: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;
          }
          &--job {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: $color-accent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;
          }
        }
      }
      @media (max-width: $break-md) {
        &--nav {
          padding: 0 50px;
          .slick-arrow {
            left: 25px;
            &.slick-next {
              right: 25px;
            }
          }
        }
      }
      @media (max-width: $break-xs) {
        &--nav {
          padding: 0 35px;
          .slick-arrow {
            left: 10px;
            &.slick-next {
              right: 10px;
            }
          }
        }
      }
    }
  }
}

.bt-elwg-testimonial-loop-item {
  &--default {
    .bt-post {
      padding: 58px 45px 41px 52px;
      background: #d9e9b9;
      border-radius: 20px 20px 0 0;
      position: relative;
      overflow: hidden;
      z-index: 1;
      @media (max-width: $break-xs) {
        padding: 20px 20px 30px 20px;
      }
      &--quote-icon {
        position: absolute;
        z-index: 3;
        right: 39px;
        top: 44px;
        @media (max-width: $break-xs) {
          right: 14px;
          top: 13px;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      &--desc {
        position: relative;
        color: $color-text;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 30px;
        > * {
          margin-left: auto;
          margin-right: auto;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &--infor {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 28px;
        transition: all 0.3s;
      }
      &--avatar {
        display: flex;
        overflow: hidden;
        width: 56px;
        height: 56px;
        background: #f5f5f5;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--title-wrap {
        width: calc(100% - 56px);
        padding-left: 16px;
      }
      &--title {
        font-family: $secondary-font;
        transition: all 0.3s;
        color: $color-primary;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: capitalize;
      }
      &--job {
        color: $color-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 187.5%;
        text-transform: capitalize;
        transition: all 0.3s;
      }
    }
  }
  &--style1 {
    .bt-post {
      &--inner {
        display: flex;
        border-radius: 20px;
        border: 1px solid $color-accent;
        background: #fff;
        padding: 36px 30px 46px 43px;
        @media (max-width: $break-xs) {
          padding: 30px 27px;
          flex-direction: column;
        }
      }
      &--quote-icon {
        position: absolute;
        z-index: 3;
        right: 36px;
        top: 33px;
      }
      &--desc {
        color: $color-text;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        margin-top: 8.5px;
        > * {
          margin-left: auto;
          margin-right: auto;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &--infor {
        position: relative;
        padding-left: 24px;
        transition: all 0.3s;
        width: calc(100% - 80px);
        @media (max-width: $break-xs) {
          width: 100%;
          padding: 15px 0 0 0;
        }
      }
      &--avatar {
        display: flex;
        overflow: hidden;
        width: 80px;
        height: 80px;
        background: #f5f5f5;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--signature {
        display: flex;
        gap: 10px 64px;
        align-items: flex-end;
        flex-wrap: wrap;
        img {
          display: block;
          max-height: 51px;
          object-fit: cover;
        }
      }
      &--title-job {
        color: $color-text;
        transition: all 0.3s;
        margin-top: 6px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        span {
          color: $color-accent;
          font-weight: 700;
        }
      }
    }
  }
}
.bt-elwg-service-list {
  &--default {
    .bt-service-list {
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
    }
    .bt-service-list-item {
      display: flex;
      grid-gap: 8px;
      align-items: center;
    }
    .bt-post {
      &--icon {
        height: 20px;
      }
      &--title {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 20px;
        font-weight: 500;
        a {
          color: $color-primary;
          font-family: $secondary-font;
          font-size: 20px;
          font-weight: 500;
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}
.bt-elwg-service-loop-item {
  &--default {
    @extend .__bt-service-style-default;
  }
  &--style1 {
    @extend .__bt-service-style-1;
  }
  &--style2 {
    @extend .__bt-service-style-2;
  }
  &--menu {
    .bt-post {
      &--inner {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &:hover {
          .bt-post--title {
            color: $color-accent;
          }
        }
      }
      &--icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        img {
          display: block;
          max-width: 38px;
        }
      }
      &--infor {
        width: calc(100% - 80px);
        text-align: left;
      }
      &--title {
        margin: 0;
        text-align: left;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 133.2%;
        margin-bottom: 3px;
      }
      &--excerpt {
        color: $color-text;
        font-size: 15px;
        line-height: 1.4;
        @extend .__bt-max-line-ellipsis;
      }
    }
  }
}
.bt-elwg-brand-slider {
  &--default {
    &.bt-slider-blur {
      &::before,
      &::after {
        background: linear-gradient(to right, $color-secondary 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 65px;
        z-index: 2;
      }
      &::after {
        right: -2px;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
      }
      &::before {
        left: -2px;
        top: 0;
      }
    }
    .bt-brand {
      &-slider {
        padding: 0;
        list-style: none;
        margin: 0;
        transition-timing-function: linear !important;
        overflow: visible !important;
      }
      &--image {
        display: block;
      }
      &--inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 35px;
        background: #fff;
        border-radius: 20px;
        margin: 0 1px;
        border: 1px solid #c6c6c6;
        @media (max-width: $break-xs) {
          padding: 20px 35px;
        }
        img {
          width: 100%;
          height: 46px;
          object-fit: contain;
          max-width: 100%;
        }
      }
    }
  }
}
.bt-elwg-highlighted-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    max-width: fit-content;
    z-index: 9;
    color: $color-primary;
    a,
    span {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      color: inherit;
      display: inline-block;
    }

    .bt-small {
      font-size: 72%;
    }
  }

  .__text-highlighted {
    position: relative;
    color: $color-accent;
    span {
      color: $color-primary;
      font-weight: 400;
    }
    em {
      color: $color-primary;
      font-style: normal;
    }
    svg {
      position: absolute;
      min-width: calc(100% + 50px);
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &.animationed {
    .__text-highlighted {
      svg {
        animation: effectScaleAnimation 2s ease-in-out infinite;
      }
    }
  }
}
.dialog-lightbox-widget {
  .elementor-slideshow__header {
    width: auto;
  }
}
.bt-elwg-pricing-item {
  &--default {
    .bt-pricing {
      &-item {
        border-radius: 20px;
        background: #fff;
      }
      &--header {
        padding: 35px 40px 26px;
        @media (max-width: $break-xs) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      &--heading {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &--description {
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &--box-price {
        padding: 14px 40px;
        background: $color-secondary;
        @media (max-width: $break-xs) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      &--price-before {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 2;
        display: inline-block;
      }
      &--price {
        color: $color-accent;
        font-family: $secondary-font;
        font-size: 33px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4;
      }
      &--price-after {
        color: $color-accent;
        font-family: $secondary-font;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
      }
      &--infor {
        padding: 24px 40px 30px;
        @media (max-width: $break-xs) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      &--info {
        padding: 0;
        margin-bottom: 28px;
        li {
          display: flex;
          grid-gap: 8px;
          align-items: center;
          color: $color-text;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
          svg {
            width: 20px;
            flex-grow: 1;
            flex-shrink: 0;
            max-width: 20px;
          }
        }
      }
      &--button-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 9px;
      }
      &--button {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 15px 46px;
        background: $color-accent;
        display: inline-block;
        border-radius: 10px;
        border: 1px solid $color-accent;
        font-family: $secondary-font;
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          aspect-ratio: 1 / 1;
          background: $color-secondary;
          border-radius: 50%;
          transform: translate(-50%, 50%) scale(0);
          transition: transform 0.9s ease;
        }
        span {
          position: relative;
          z-index: 1;
        }
        &:hover {
          color: $color-primary !important;
          &::before {
            transform: translate(-50%, 50%) scale(1.8);
          }
        }
      }
      &--text-after-button {
        color: $color-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
      }
    }
  }
}
.bt-elwg-solution-item {
  &--default {
    .bt-solution {
      border-radius: 20px;
      background: #fff;
      padding: 42px 48px 0 48px;
      @media (max-width: $break-xs) {
        padding: 30px 20px 0;
      }
      &--heading {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 133.2%;
      }
      &--description {
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 8px;
        margin-bottom: 18px;
        @media (max-width: $break-tl) {
          br {
            display: none;
          }
        }
      }
      &--button {
        color: $color-accent;
        font-family: $secondary-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 13px;
        span {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background: $color-accent;
            height: 1px;
            width: 0;
            opacity: 1;
            transition: 0.5s all;
          }
        }
        &:hover {
          span {
            &::before {
              width: 100%;
            }
          }
        }
      }
      &--featured {
        margin-top: 40px;
        .bt-cover-image {
          min-height: 240px;
          border-radius: 20px 20px 0 0;
        }
      }
    }
  }
}
.bt-elwg-graph-progress {
  &--default {
    .bt-graph-progress {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 300px;
      margin: 0;
      list-style: none;
      padding: 0;
      gap: 10px;
      li {
        width: 100px;
        text-align: center;
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        .bt-progress-bar {
          background-color: $color-secondary;
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-radius: 10px;
          height: 0;
          transition: height 2s ease;
          color: $color-primary;
          font-family: $secondary-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px;
          flex-direction: column;
          padding: 7px 0 10px 0;
          > * {
            opacity: 0;
            transition: opacity 0.5s ease;
          }
          &.show-text {
            > * {
              opacity: 1;
            }
          }
          .bt-progress-text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.elementor-widget-button {
  .elementor-button-icon svg {
    width: fit-content;
  }
}

.elementor-widget-image-box {
  .elementor-image-box {
    &-description {
      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
.bt-elwg-project-loop-item {
  &--default {
    @extend .__bt-project-style-default;
  }
}
.bt-cta-free-consultation {
  margin-top: 67px;
  @media (max-width: $break-md) {
    margin-top: 35px;
  }
  .bt-consultation {
    display: flex;
    align-items: center;
    background-color: $color-accent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 39px 54px 36px 65px;
    border-radius: 20px;
    @media (max-width: $break-lg) and (min-width: $break-md) {
      padding: 35px 15px;
    }
    @media (max-width: $break-sm) {
      padding: 30px 15px;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    &--infor {
      width: calc(100% - 270px);
      padding-right: 20px;
      @media (max-width: $break-sm) {
        width: 100%;
        padding-right: 0;
      }
    }
    &--title {
      color: #fff;
      font-family: $secondary-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 8px;
      max-width: 290px;
    }
    &--des {
      color: #fff;
      font-family: $text-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 133.333%;
      margin: 0;
    }
    &--button {
      a {
        border: 2px solid $color-secondary;
        border-radius: 10px;
        background: $color-secondary;
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 15px 34px 14px 34px;
        text-align: center;
        display: block;
        position: relative;
        overflow: hidden;
        &:hover {
          color: #ffffff;
          &:before {
            transform: translate(-50%, 50%) scale(1.8);
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          aspect-ratio: 1;
          background: $color-accent;
          border-radius: 50%;
          transform: translate(-50%, 50%) scale(0);
          transition: transform 0.9s ease;
        }
        span {
          position: relative;
          z-index: 1;
          transition: transform 0.9s ease;
        }
      }
    }
  }
}
.bt-elwg-list-faq-inner {
  .item-faq {
    .item-faq-inner {
      border-radius: 20px;
      overflow: hidden;
      border: 1px solid transparent;
      background-color: #f0f7f3;
      &.active {
        border-color: #e1e1e1;
      }
    }
    .bt-item-title {
      padding: 21px 40px 21px 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      cursor: pointer;
      transition: 0.3s ease all;
      @media (max-width: $break-md) {
        padding: 21px 24px 21px 24px;
      }
      @media (max-width: $break-sm) {
        padding: 12px 16px 12px 16px;
      }
      &.active {
        background: $color-accent;
        &:hover h3 {
          color: #ffffff !important;
        }
        h3 {
          color: #ffffff !important;
        }
        svg {
          transform: rotate(180deg);
          path {
            fill: #ffffff;
          }
        }
      }
      h3 {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 18px;
        font-weight: 500;
        line-height: 133.2%;
      }
      svg {
        width: 32px;
        height: 32px;
        min-width: 32px;
        transition: 0.3s ease all;
      }
    }
    .bt-item-content {
      display: none;
      padding: 28px 48px 32px;
      color: $color-text;
      font-family: $text-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      @media (max-width: $break-md) {
        padding: 24px;
      }
      @media (max-width: $break-sm) {
        padding: 16px;
      }
    }
  }
}
.bt-elwg-open-jobs {
  &--default {
    .bt-jobs {
      list-style: none;
      margin: 0;
      padding: 0;
      &--item {
        display: flex;
        align-items: stretch;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      &--number {
        background: $color-secondary;
        color: $color-primary;
        text-align: center;
        font-family: $secondary-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        border-radius: 20px 0px 0px 20px;
        @media (max-width: $break-md) {
          padding: 30px;
          width: 95px;
        }
        @media (max-width: 700px) {
          width: 70px;
        }
      }
      &--infor {
        background: #fff;
        width: calc(100% - 120px);
        display: flex;
        padding: 37px 84px 34px 50px;
        border-radius: 0 20px 20px 0;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        @media (max-width: $break-md) {
          padding: 30px;
          width: calc(100% - 95px);
        }
        @media (max-width: 700px) {
          width: calc(100% - 70px);
          padding: 30px 15px;
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &--info {
        width: calc(100% - 185px);
        @media (max-width: $break-md) {
          width: calc(100% - 156px);
        }
        @media (max-width: 700px) {
          width: 100%;
        }
      }
      &--title {
        color: $color-primary;
        font-family: $secondary-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 4px;
        @media (max-width: $break-md) {
          font-size: 20px;
        }
      }
      &--location {
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: $break-md) {
          font-size: 16px;
        }
      }
      &--button {
        border-radius: 10px;
        background: $color-accent;
        color: #fff;
        font-family: $secondary-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 15px 33px 14px 34px;
        border: 2px solid $color-accent;
        position: relative;
        overflow: hidden;
        @media (max-width: $break-md) {
          font-size: 16px;
          padding: 12px 25px 12px 25px;
        }
        @media (max-width: 700px) {
          font-size: 14px;
          padding: 8px 25px 8px 25px;
        }
        &:hover {
          color: $color-primary;
          &:before {
            transform: translate(-50%, 50%) scale(1.8);
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          aspect-ratio: 1;
          background: $color-secondary;
          border-radius: 50%;
          transform: translate(-50%, 50%) scale(0);
          transition: transform 0.9s ease;
        }
        span {
          position: relative;
          z-index: 1;
          transition: transform 0.9s ease;
        }
      }
    }
  }
}
.bt-icon-box-phone {
  > .elementor-widget-container {
    .elementor-icon-box-title {
      a {
        position: relative;
        padding-bottom: 30px;
        display: block;
      }
    }
    .elementor-icon-box-description {
      text-underline-offset: 3px;
      text-decoration-thickness: 1px !important;
      margin-top: -30px;
    }
  }
}
