.gform-theme--framework
  :where(
    :not(svg)
      :not(svg *):not(symbol *):not(.gform-theme__no-reset--el)
      :not(.gform-theme__no-reset--children *):not(.gform-theme__disable)
      :not(.gform-theme__disable *):not(.gform-theme__disable-reset)
      :not(.gform-theme__disable-reset *):not(.gform_heading *):not(.gfield--type-html *)
      :not(.gfield--type-section *):not(.form_saved_message > *)
      :not(.form_saved_message_sent > *):not(.gform_confirmation_message *)
      :not(.wp-editor-container):not(.mce-tinymce):not(.mce-tinymce *)
      :not(.wp-editor-area):not(.gfield_description > *)
      :not(.gform-field-label--type-inline > :not(span))
  )
  path {
  display: revert;
  all: revert-layer;
}
.gform_wrapper {
  &.gform-theme--api,
  &.gform-theme--foundation {
    --gf-form-gap-x: 10px;
    --gf-form-gap-y: 10px;
  }
  .gform_heading {
    margin-bottom: 25px;
    .gform_title {
      font-family: $secondary-font;
      font-size: 50px;
      font-weight: 600;
    }
    .gform_description {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin: 4px 0 0;
    }
  }
  .gform-body {
    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      height: auto;
      color: var(--e-global-color-text, #555);
      background: transparent;
      padding: 10px 24px 10px 28px;
      border: none;
      border-bottom: 1px solid #d8d8d8;
      outline: none;
      box-shadow: none;
      width: 100%;
      height: 57px;
      border-radius: 10px;
      background: #f0f7f3;
    }
    textarea {
      min-block-size: auto !important;
      height: 128px;
      padding-top: 18px;
    }
    .select2-container--default {
      height: 57px;
      .select2-selection--single {
        height: 57px;
        border-color: #d8d8d8;
        border-radius: 10px;
        background: #f0f7f3;
        .select2-selection__clear{
          position: absolute;
          background: transparent !important;
          box-shadow: none !important;
          color: $color-primary !important;
          right: 50px;
          font-size: 20px !important;
          height: 59px;
        }
        .select2-selection__placeholder {
          color: $color-text;
          font-size: 18px;
          font-weight: 400;
          line-height: normal;
        }
        .select2-selection__rendered {
          line-height: 50px;
          color: $color-text;
          padding-left: 28px;
          font-size: 18px;
          font-weight: 400;
          line-height: normal;
        }
        .select2-selection__arrow {
          height: 57px;
          width: 44px;
          b {
            border-color: $color-accent transparent transparent transparent;
            border-width: 9px 6px 0 6px;
            left: 0;
            margin-left: 0;
            margin-top: -4px;
          }
        }
      }
    }
    .ginput_container_checkbox {
      margin-top: 9px;
      .gchoice{
        align-items: center;
      }
      label {
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      input {
        border-radius: 3px;
        border: 1px solid #cacaca;
        background: #fff;
        box-shadow: none !important;
        &::before {
          color: $color-accent;
        }
      }
    }
  }
  .gform_footer {
    margin-block-start: 29px;
    input[type="submit"] {
      display: inline-block !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      line-height: normal !important;
      text-transform: capitalize !important;
      text-align: center !important;
      color: #ffffff !important;
      background: $color-accent !important;
      padding: 17px 36px 16px 37px !important;
      border: none !important;
      border-radius: 10px !important;
      font-family: $secondary-font !important;
      &.gform-button--width-full {
        width: 100% !important;
      }
    }
  }
  .gform_validation_errors {
    display: none !important;
  }
  .gform_confirmation_message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
