.bt-style-reponsive-nav {
  > a {
    @media (min-width: 1025px) and (max-width: 1199.98px) {
      font-size: 18px;
    }
  }

  &:not(:last-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-end: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }

  &:not(:first-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-start: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }
}

.bt-site-header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .bt-header-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .bt-logo-col {
    width: 20%;
  }
  .bt-primary-menu-col {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .bt-site-logo {
    height: 98px;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      line-height: 0;
      padding: 10px 0;
      img {
        max-width: 203px;
        width: 100%;
        height: auto;
      }
    }
  }
  .bt-primary-menu {
    .bt-page-menu-wrap,
    .bt-primary-menu-container {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .current_page_item,
        .current-menu-item {
          a {
            color: $color-accent;
          }
        }
        a {
          display: inline-block;
          font-family: $primary-font;
          color: $color-primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
          &:hover {
            color: $color-accent;
          }
        }
        .page_item_has_children,
        .menu-item-has-children {
          position: relative;
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &.bt-align-left {
              left: 0;
              right: auto;
            }
            &.bt-align-right {
              left: auto;
              right: 0;
            }
            li:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            .current_page_item,
            .current-menu-item {
              a {
                color: $color-accent;
              }
            }
            a {
              display: block;
              color: $color-text;
              padding: 12px 15px;
              &:hover {
                color: $color-accent;
              }
            }
            ul {
              top: 0;
              left: 100%;
              &.bt-align-left {
                left: 100%;
                right: auto;
              }
              &.bt-align-right {
                left: auto;
                right: 100%;
              }
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 10px 20px;
        &#menu-all-pages-flat {
          flex-wrap: wrap;
          > li > a {
            min-height: unset;
          }
        }
        > li > a {
          min-height: 98px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bt-menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.bt-is-hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.bt-menu-close {
      position: absolute;
      top: 26px;
      right: 22px;
    }
  }
  @media (max-width: $break-md) {
    .bt-logo-col {
      width: 70%;
    }
    .bt-primary-menu-col {
      width: 30%;
    }
    .bt-primary-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 263px;
      height: 100vh;
      overflow: auto;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      background: rgba(245, 245, 245, 0.95);
      -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.bt-is-active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .bt-page-menu-wrap,
      .bt-primary-menu-container {
        padding: 120px 30px 30px;
        ul {
          .page_item_has_children,
          .menu-item-has-children {
            .bt-toggle-icon {
              position: absolute;
              top: 9px;
              right: 0;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background-image: url("../images/alt-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              &.bt-is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
              position: static;
              opacity: 1;
              visibility: visible;
              background: transparent;
              li {
                border-top: 1px solid #c4c4c4;
                &:not(:first-child) {
                  border-color: #c4c4c4;
                }
              }
              a {
                color: $color-primary;
              }
            }
          }
        }
        > ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          > li {
            width: 100%;
            &:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            > a {
              display: block;
              min-height: unset;
              padding: 12px 0;
            }
          }
        }
      }
    }
    .bt-menu-toggle {
      display: flex;
    }
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Elementor Header */
.elementor-location-header {
  position: relative;
  .elementor-element {
    &.bt-site-info-top-header {
      .bt-elwg-site-infor {
        @media (max-width: 410px) {
          column-gap: 10px !important;
          &--item {
            font-size: 14px !important;
            width: calc(50% - 5px);
            a {
              grid-gap: 8px;
            }
            svg {
              width: 20px;
            }
          }
        }
      }
    }
    &.bt-header-main-topbar {
      > .e-con-inner {
        > .elementor-element {
          &:first-child {
            @media (max-width: 1280px) and (min-width: $break-tl) {
              width: 28%;
              .bt-elwg-site-infor {
                row-gap: 0;
                .bt-elwg-site-infor--item:not(:last-child)::before {
                  opacity: 0;
                }
              }
            }
            @media (max-width: 950px) and (min-width: $break-sm) {
              width: 40%;
              .bt-elwg-site-infor {
                row-gap: 0;
                padding: 5px 0;
              }
            }
            @media (max-width: $break-xs) {
              .bt-elwg-site-infor {
                row-gap: 0;
                &--item {
                  font-size: 14px;
                }
              }
            }
          }
          &:last-child {
            @media (max-width: 1280px) and (min-width: $break-tl) {
              width: 72%;
            }
            @media (max-width: 950px) and (min-width: $break-sm) {
              width: 60%;
            }
            > .elementor-element {
              &:first-child {
                .elementor-widget-container {
                  @media (max-width: 1400px) and (min-width: $break-tl) {
                    padding: 15px;
                  }
                  @media (max-width: 1280px) and (min-width: $break-tl) {
                    padding: 15px;
                  }
                }
              }
              &:nth-child(2) {
                .bt-elwg-account-login-inner ul li {
                  @media (max-width: $break-xs) {
                    span,
                    a {
                      font-size: 14px;
                    }
                  }
                }
              }
              .bt-elwg-site-social-style-2 {
                a {
                  &:hover {
                    background: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.bt-header-main-nav {
      &.elementor-sticky {
        &--effects {
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          .elementor-widget-nav-menu {
            > .elementor-widget-container {
              .elementor-nav-menu {
                .elementor-item {
                  padding-top: 30px;
                  padding-bottom: 30px;
                }
              }
            }
          }
          .elementor-widget-button {
            .elementor-button-wrapper {
              .elementor-button {
                padding-top: 16px;
                padding-bottom: 16px;
              }
            }
          }
        }
      }
      .elementor-element {
        .elementor-widget-nav-menu {
          > .elementor-widget-container {
            .elementor-nav-menu {
              > .menu-item {
                &.current-menu-item {
                  > a {
                    background: $color-accent;
                  }
                }
                > a {
                  &:hover {
                    background: $color-accent;
                  }
                  &.highlighted {
                    background: $color-accent;
                  }
                }
              }
            }
            .menu-item-has-children {
              .elementor-item {
                .sub-arrow {
                  padding: 0;
                  svg {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
      > .e-con-inner {
        > .elementor-element {
          &:last-child {
            @media (max-width: 1360px) and (min-width: $break-tl) {
              .elementor-widget-nav-menu {
                > .elementor-widget-container {
                  margin-right: 20px;
                  .elementor-nav-menu {
                    .elementor-item {
                      padding-left: 20px;
                      padding-right: 20px;
                    }
                  }
                }
              }
            }
            @media (max-width: $break-lg) and (min-width: $break-tl) {
              .elementor-widget-nav-menu {
                > .elementor-widget-container {
                  margin-right: 10px;
                  .elementor-nav-menu {
                    .elementor-item {
                      padding-left: 15px;
                      padding-right: 15px;
                      padding-top: 38px;
                      padding-bottom: 38px;
                      font-size: 16px;
                    }
                  }
                }
              }
              .elementor-widget-button {
                .elementor-button-wrapper {
                  .elementor-button {
                    padding: 16px 25px 16px 25px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.bt-header-topbar-style-1 {
      > .elementor-element {
        &:first-child {
          clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0% 100%);
          @media (max-width: $break-lg) and (min-width: $break-tl) {
            --padding-right: 50px;
          }
          @media (max-width: $break-tl) {
            clip-path: none;
          }
          > .elementor-element {
            > .elementor-element {
              .bt-elwg-site-infor {
                @media (max-width: 1315px) and (min-width: $break-tl) {
                  max-width: min-content;
                  gap: 0;
                  .bt-elwg-site-infor--item {
                    font-size: 15px;
                    &::before {
                      opacity: 0;
                    }
                  }
                }
                @media (max-width: 930px) and (min-width: $break-sm) {
                  max-width: min-content;
                  gap: 0;
                  .bt-elwg-site-infor--item {
                    font-size: 15px;
                    &::before {
                      opacity: 0;
                    }
                  }
                }
                @media (max-width: $break-xs) {
                  row-gap: 0;
                  &--item {
                    font-size: 14px;
                  }
                }
              }
              .bt-elwg-account-login-inner ul li {
                @media (max-width: $break-xs) {
                  span,
                  a {
                    font-size: 14px;
                  }
                }
              }
              .bt-elwg-site-social-style-2 {
                a {
                  &:hover {
                    background: $color-accent !important;
                    svg {
                      fill: #fff;
                      path {
                        fill: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.bt-header-nav-style-1 {
      > .elementor-element {
        &:first-child {
          filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
          > .elementor-element {
            &:last-child {
              clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0% 100%);
              @media (max-width: $break-lg) and (min-width: $break-tl) {
                --width: 60px;
              }
            }
            .elementor-widget-nav-menu {
              .elementor-nav-menu {
                .menu-item {
                  .elementor-item {
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      top: calc(50% + 18px);
                      left: 0;
                      background: $color-secondary;
                      height: 5px;
                      width: 0;
                      opacity: 1;
                      transform: translateY(-50%);
                      transition: 0.5s all;
                    }
                    &:hover {
                      &::before {
                        width: 28px;
                      }
                    }
                    @media (max-width: 1315px) and (min-width: $break-tl) {
                      --e-nav-menu-horizontal-menu-item-margin: calc(25px / 2);
                    }
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                      --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
                      font-size: 16px;
                    }
                  }
                  &.current-menu-item {
                    .elementor-item {
                      &::before {
                        width: 28px;
                      }
                    }
                  }
                }
                .menu-item-has-children {
                  .elementor-item {
                    .sub-arrow {
                      padding: 0;
                      svg {
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &:last-child {
          &.bt-col-button-header-style-1 {
            --width: calc(23% + 20px);
            filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
            > .elementor-element {
              height: 100%;
              > * {
                height: 100%;
              }
              .elementor-button-wrapper {
                height: 100%;
                .elementor-button {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  clip-path: polygon(73px 0, 100% 0, 100% 100%, 0 100%);
                  transition: 0.5s all;
                  @media (max-width: 1315px) and (min-width: $break-tl) {
                    padding-left: 74px;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
      &.elementor-sticky {
        &--effects {
          .elementor-widget-nav-menu {
            > .elementor-widget-container {
              .elementor-nav-menu {
                .menu-item {
                  .elementor-item {
                    padding-top: 30px;
                    padding-bottom: 30px;
                  }
                }
              }
            }
          }
          > .elementor-element {
            &:last-child {
              &.bt-col-button-header-style-1 {
               
                margin-top: 0;
                > .elementor-element {
                  .elementor-button-wrapper {
                    .elementor-button {
                      clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ul.elementor-nav-menu--dropdown {
      min-width: 200px !important;
    }
  }
}
body.admin-bar .dialog-type-lightbox {
  &.bt-menu-mobile-popup {
    position: fixed;
    top: 45px;
  }
}
.bt-menu-mobile-popup {
  position: fixed !important;
  .elementor-nav-menu {
    a.has-submenu {
      display: flex;
      justify-content: space-between;
      i,
      svg {
        transition: all 0.3s;
      }
      &.highlighted .sub-arrow {
        i,
        svg {
          transform: rotate(180deg);
        }
      }
    }
    ul.elementor-nav-menu--dropdown {
      &.sub-menu ul.sub-menu {
        padding-left: 20px;
      }
      a.elementor-sub-item {
        position: relative;
        padding-left: 50px;
        font-family: $text-font !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        color: $color-primary;
        border: none;
        &:before {
          content: "";
          position: absolute;
          top: 25px;
          left: 20px;
          width: 18px;
          height: 1px;
          background: $color-primary;
        }
      }
    }
  }
}
