.__bt-heading-style {
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) {
        font-size: 45px;
    }
}

.__bt-pd-container-full-width {
    > .elementor-element {
        &:first-child {
            @media (min-width: 1450px) {
                padding-left: calc((100% - var(--container-max-width)) / 2);
            }
        }

        &:last-child {
            @media (min-width: 1450px) {
                padding-right: calc((100% - var(--container-max-width)) / 2);
            }
        }
    }
}

.elementor-element {
    &.elementor-grid-4 {
        .elementor-loop-container {
            &.elementor-grid {
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    grid-column-gap: 15px;
                    .bt-post {
                        &--job {
                            left: 25px;
                        }
                        &--title {
                            font-size: 24px;
                        }
                        &--description {
                            font-size: 16px;
                        }
                    }
                    .bt-elwg-therapist-loop-item--default {
                        .bt-post {
                            &--infor {
                                padding: 30px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-text-view-more {
        a {
            color: $color-accent;
            text-decoration: underline;
        }
    }
    &.bt-list-icon-right {
        .elementor-icon-list-item {
            > a {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end !important;
                gap: 10px;
                .elementor-icon-list-text {
                    padding: 0;
                }
            }
        }
    }
    &.bt-section-hero-home1 {
        > .elementor-element {
            .elementor-widget-progress {
                .elementor-progress-bar {
                    border-radius: 0;
                }
            }
            @media (max-width: 1400px) and (min-width: $break-lg) {
                &:last-child {
                    > .e-con-inner {
                        > .elementor-element {
                            &:first-child {
                                width: 45%;
                            }
                            &:last-child {
                                width: 55%;
                                > .elementor-element {
                                    &:first-child {
                                        > .elementor-element {
                                            padding-left: 30px;
                                            padding-right: 30px;
                                        }
                                    }
                                    &:last-child {
                                        > .elementor-element {
                                            &:last-child {
                                                padding-left: 30px;
                                                padding-right: 30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: $break-lg) {
                position: relative;
                bottom: 0 !important;
            }
            @media (max-width: $break-lg) and (min-width: $break-tl) {
                &:first-child {
                    > .elementor-element {
                        > .e-con-inner {
                            > .elementor-element {
                                &:first-child {
                                    width: 60%;
                                }
                                &:last-child {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    margin-top: 60px;
                    margin-bottom: 60px;
                    > .e-con-inner {
                        > .elementor-element {
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                width: 100%;
                                > .elementor-element {
                                    &:first-child {
                                        width: calc(33.33% - 10px);
                                        > .elementor-element {
                                            height: 100%;
                                            padding: 30px;
                                        }
                                    }
                                    &:last-child {
                                        width: calc(66.66% - 10px);
                                        flex-direction: row;
                                        > .elementor-element {
                                            width: calc(50% - 10px);
                                            height: 100%;
                                            &:first-child {
                                                border-width: 10px;
                                            }
                                            &:last-child {
                                                padding-left: 20px;
                                                padding-right: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-button-viewmore-testimonials {
        .elementor-button {
            width: 100%;
            text-align: left;
            .elementor-button-content-wrapper {
                justify-content: flex-end;
                svg {
                    width: 22px;
                    fill: $color-accent;
                }
            }
        }
    }
    &.bt-section-our-capabilities {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        &:first-child {
                            .bt-elwg-testimonial-loop-item--default .bt-post {
                                padding: 30px;
                            }
                        }
                        &:last-child {
                            > .elementor-element {
                                > .elementor-element {
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-why-choose-us {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:last-child {
                        .bt-counter-center {
                            text-align: center;
                            @media (max-width: $break-lg) and (min-width: $break-tl) {
                                width: 185px;
                                > .elementor-widget-container {
                                    padding: 40px 24px 32px 25px;
                                    .elementor-counter-title {
                                        font-size: 16px;
                                    }
                                    .elementor-counter-number-wrapper {
                                        font-size: 45px;
                                    }
                                }
                            }
                            @media (max-width: $break-sm) {
                                position: relative;
                                right: auto;
                                left: auto;
                                width: 100%;
                                > .elementor-widget-container {
                                    border-radius: 20px;
                                    padding: 30px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.bt-list-why-choose-us {
        .elementor-icon-list-item {
            > a {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end !important;
                gap: 17px;
                .elementor-icon-list-text {
                    padding: 0;
                }
            }
        }
    }
    &.bt-section-finance-solutions {
        animation: effectscaleBackground 15s ease-in-out infinite;
        .bt-button-view-more {
            .elementor-button-wrapper {
                .elementor-button {
                    position: relative;
                    overflow: hidden;
                    .elementor-button-content-wrapper {
                        flex-direction: column-reverse;
                        gap: 12px;
                        flex-wrap: wrap;
                        position: relative;
                        z-index: 1;
                        .elementor-button-icon {
                            justify-content: center;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background: $color-secondary;
                        border-radius: 50%;
                        transform: translate(-50%, 50%) scale(0);
                        transition: transform 0.9s ease;
                    }
                    &:hover {
                        &::before {
                            transform: translate(-50%, 50%) scale(3);
                        }
                    }
                    @media (max-width: $break-xs) {
                        padding: 39px 24px 38px 25px;
                        font-size: 14px;
                        .elementor-button-icon svg {
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-data-center {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:first-child {
                        > .elementor-element {
                            &:last-child {
                                > .elementor-element {
                                    max-width: 460px;
                                    @media (max-width: 1250px) and (min-width: $break-tl) {
                                        padding-left: 25px;
                                        padding-right: 25px;
                                    }
                                }
                                @media (max-width: 1110px) and (min-width: $break-tl) {
                                    width: 40%;
                                }
                            }
                            &:first-child {
                                @media (max-width: 1110px) and (min-width: $break-tl) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                    &:last-child {
                        .elementor-tabs {
                            .elementor-tabs-wrapper {
                                border-bottom: 1px solid #d9d9d9;
                                display: flex;
                                gap: 58px;
                                @media (max-width: $break-lg) and (min-width: $break-tl) {
                                    gap: 30px;
                                    .elementor-tab-title {
                                        font-size: 18px;
                                    }
                                }
                                @media (max-width: $break-tl) {
                                    gap: 25px;
                                    .elementor-tab-title {
                                        font-size: 18px;
                                        line-height: 1.4;
                                        text-align: center;
                                    }
                                }
                                @media (max-width: 650px) {
                                    flex-wrap: wrap;
                                    gap: 15px 30px;
                                    padding-bottom: 25px;
                                    .elementor-tab-title {
                                        padding: 0 !important;
                                        border-bottom: none !important;
                                        font-size: 16px;
                                    }
                                }
                                .elementor-tab-title {
                                    padding: 0 0 22px 0;
                                    border-bottom: 6px solid transparent;
                                    &.elementor-active {
                                        border-color: #fff;
                                    }
                                }
                            }
                            .elementor-tab-content {
                                padding: 0;
                            }
                            .elementor-tabs-content-wrapper {
                                @media (max-width: $break-sm) {
                                    .elementor-tab-title {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-blog-home1 {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    .bt-elwg-post-loop-item--default {
                        .bt-post {
                            @media (max-width: 1275px) and (min-width: $break-tl) {
                                &--content {
                                    padding: 0 15px 30px 15px;
                                }

                            }
                            @media (max-width: 860px) and (min-width: $break-sm) {
                                &--content {
                                    padding: 0 15px 30px 15px;
                                }
                            }
                            @media(max-width: $break-xs){
                                &--content {
                                    padding: 0 15px 30px 15px;
                                }
                                &--info{
                                    gap: 14px 10px;
                                    .bt-reading-time{
                                        gap: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
