.__bt-heading-style {
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) {
        font-size: 45px;
    }
}
body {
    --width-body: 100%;
}
.elementor-element {
    @media (min-width: 1450px) {
        &.bt-col-container-left {
            padding-left: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
        &.bt-col-container-right {
            padding-right: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
    }
}
.__bt-pd-container-full-width {
    > .elementor-element {
        &:first-child {
            @media (min-width: 1450px) {
                padding-left: calc((100% - var(--container-max-width)) / 2);
            }
        }

        &:last-child {
            @media (min-width: 1450px) {
                padding-right: calc((100% - var(--container-max-width)) / 2);
            }
        }
    }
}

.elementor-element {
    &.elementor-grid-4 {
        .elementor-loop-container {
            &.elementor-grid {
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    grid-column-gap: 15px;
                    .bt-post {
                        &--job {
                            left: 25px;
                        }
                        &--title {
                            font-size: 24px;
                        }
                        &--description {
                            font-size: 16px;
                        }
                    }
                    .bt-elwg-team-loop-item--default {
                        .bt-post {
                            &--infor {
                                padding: 30px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-text-view-more {
        a {
            color: $color-accent;
            text-decoration: underline;
        }
    }
    &.bt-list-icon-right {
        .elementor-icon-list-item {
            > a {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end !important;
                gap: 10px;
                .elementor-icon-list-text {
                    padding: 0;
                }
            }
        }
    }
    &.bt-section-hero-home1 {
        > .elementor-element {
            .elementor-widget-progress {
                .elementor-progress-bar {
                    border-radius: 0;
                }
            }
            @media (max-width: 1400px) and (min-width: $break-lg) {
                &:last-child {
                    > .e-con-inner {
                        > .elementor-element {
                            &:first-child {
                                width: 45%;
                            }
                            &:last-child {
                                width: 55%;
                                > .elementor-element {
                                    &:first-child {
                                        > .elementor-element {
                                            padding-left: 30px;
                                            padding-right: 30px;
                                        }
                                    }
                                    &:last-child {
                                        > .elementor-element {
                                            &:last-child {
                                                padding-left: 30px;
                                                padding-right: 30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: $break-lg) {
                position: relative;
                bottom: 0 !important;
            }
            @media (max-width: $break-lg) and (min-width: $break-tl) {
                &:first-child {
                    > .elementor-element {
                        > .e-con-inner {
                            > .elementor-element {
                                &:first-child {
                                    width: 60%;
                                }
                                &:last-child {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    margin-top: 60px;
                    margin-bottom: 60px;
                    > .e-con-inner {
                        > .elementor-element {
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                width: 100%;
                                > .elementor-element {
                                    &:first-child {
                                        width: calc(33.33% - 10px);
                                        > .elementor-element {
                                            height: 100%;
                                            padding: 30px;
                                        }
                                    }
                                    &:last-child {
                                        width: calc(66.66% - 10px);
                                        flex-direction: row;
                                        > .elementor-element {
                                            width: calc(50% - 10px);
                                            height: 100%;
                                            &:first-child {
                                                border-width: 10px;
                                            }
                                            &:last-child {
                                                padding-left: 20px;
                                                padding-right: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-button-viewmore-testimonials {
        .elementor-button {
            width: 100%;
            text-align: left;
            .elementor-button-content-wrapper {
                justify-content: flex-end;
                svg {
                    width: 22px;
                    fill: $color-accent;
                }
            }
        }
    }
    &.bt-section-our-capabilities {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:first-child {
                        > .elementor-element {
                            &:nth-last-child(2) {
                                > .elementor-widget-container {
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        &:first-child {
                            .bt-elwg-testimonial-loop-item--default .bt-post {
                                padding: 30px;
                            }
                        }
                        &:last-child {
                            > .elementor-element {
                                > .elementor-element {
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-why-choose-us {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:last-child {
                        .bt-counter-center {
                            text-align: center;
                            @media (max-width: $break-lg) and (min-width: $break-tl) {
                                width: 185px;
                                > .elementor-widget-container {
                                    padding: 40px 24px 32px 25px;
                                    .elementor-counter-title {
                                        font-size: 16px;
                                    }
                                    .elementor-counter-number-wrapper {
                                        font-size: 45px;
                                    }
                                }
                            }
                            @media (max-width: $break-sm) {
                                position: relative;
                                right: auto;
                                left: auto;
                                width: 100%;
                                > .elementor-widget-container {
                                    border-radius: 20px;
                                    padding: 30px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.bt-list-why-choose-us {
        .elementor-icon-list-item {
            > a {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end !important;
                gap: 17px;
                .elementor-icon-list-text {
                    padding: 0;
                }
            }
        }
    }
    &.bt-section-finance-solutions {
        animation: effectscaleBackground 15s ease-in-out infinite;
        .bt-button-view-more {
            .elementor-button-wrapper {
                .elementor-button {
                    position: relative;
                    overflow: hidden;
                    .elementor-button-content-wrapper {
                        flex-direction: column-reverse;
                        gap: 12px;
                        flex-wrap: wrap;
                        position: relative;
                        z-index: 1;
                        .elementor-button-icon {
                            justify-content: center;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background: $color-secondary;
                        border-radius: 50%;
                        transform: translate(-50%, 50%) scale(0);
                        transition: transform 0.9s ease;
                    }
                    &:hover {
                        &::before {
                            transform: translate(-50%, 50%) scale(3);
                        }
                    }
                    @media (max-width: $break-xs) {
                        padding: 39px 24px 38px 25px;
                        font-size: 14px;
                        .elementor-button-icon svg {
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-data-center {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:first-child {
                        > .elementor-element {
                            &:last-child {
                                > .elementor-element {
                                    max-width: 460px;
                                    @media (max-width: 1250px) and (min-width: $break-tl) {
                                        padding-left: 25px;
                                        padding-right: 25px;
                                    }
                                }
                                @media (max-width: 1110px) and (min-width: $break-tl) {
                                    width: 40%;
                                }
                            }
                            &:first-child {
                                @media (max-width: 1110px) and (min-width: $break-tl) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                    &:last-child {
                        .elementor-tabs {
                            .elementor-tabs-wrapper {
                                border-bottom: 1px solid #d9d9d9;
                                display: flex;
                                gap: 58px;
                                @media (max-width: $break-lg) and (min-width: $break-tl) {
                                    gap: 30px;
                                    .elementor-tab-title {
                                        font-size: 18px;
                                    }
                                }
                                @media (max-width: $break-tl) {
                                    gap: 25px;
                                    .elementor-tab-title {
                                        font-size: 18px;
                                        line-height: 1.4;
                                        text-align: center;
                                    }
                                }
                                @media (max-width: 650px) {
                                    flex-wrap: wrap;
                                    gap: 15px 30px;
                                    padding-bottom: 25px;
                                    .elementor-tab-title {
                                        padding: 0 !important;
                                        border-bottom: none !important;
                                        font-size: 16px;
                                    }
                                }
                                .elementor-tab-title {
                                    padding: 0 0 22px 0;
                                    border-bottom: 6px solid transparent;
                                    &.elementor-active {
                                        border-color: #fff;
                                    }
                                }
                            }
                            .elementor-tab-content {
                                padding: 0;
                            }
                            .elementor-tabs-content-wrapper {
                                @media (max-width: $break-sm) {
                                    .elementor-tab-title {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-grid-solutions {
        .elementor-image-box-wrapper {
            display: flex;
            align-items: stretch !important;
            height: 100%;
            .elementor-image-box-img {
                width: 109px;
                background: $color-secondary;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px 0 0 20px;
                img {
                    max-width: 50px;
                }
            }
            .elementor-image-box-content {
                padding: 38px 30px 39px;
                width: calc(100% - 109px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    padding: 15px;
                }
                @media (max-width: 860px) and (min-width: $break-sm) {
                    padding: 30px 20px;
                }
                @media (max-width: $break-xs) {
                    padding: 20px;
                }
                .elementor-image-box-description {
                    a {
                        font-weight: initial;
                        color: $color-accent;
                    }
                }
            }
        }
    }
    &.bt-section-hero-home2 {
        > .elementor-element {
            &.bt-col-content {
                @media (min-width: $break-tl) {
                    clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
                }
                > .elementor-element {
                    > .elementor-element {
                        .elementor-widget-text-editor {
                            > .elementor-widget-container {
                                @media (max-width: $break-lg) and (min-width: $break-tl) {
                                    max-width: 581px;
                                }
                            }
                        }
                    }
                }
            }
            &.bt-col-image {
                @media (min-width: $break-tl) {
                    clip-path: polygon(46% 0, 100% 0, 100% 100%, 0 100%);
                }
                .elementor-widget-image {
                    height: 100%;
                }
            }
        }
    }
    &.bt-section-view-report {
        > .e-con-inner {
            > .elementor-element {
                &:nth-child(2) {
                    .elementor-widget-counter {
                        .elementor-counter {
                            align-items: baseline;
                            .elementor-counter-title {
                                margin-left: 8px;
                            }
                            .elementor-counter-number-wrapper {
                                flex: none;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: $break-lg) and (min-width: $break-tl) {
            bottom: 15px !important;
            > .e-con-inner {
                > .elementor-element {
                    &:first-child {
                        width: 10%;
                    }
                    &:nth-child(2) {
                        width: 50%;
                    }
                    &:last-child {
                        width: 40%;
                    }
                }
            }
        }
        @media (max-width: $break-tl) {
            position: relative;
            bottom: 0 !important;
        }
    }
    &.bt-section-us-help-you {
        > .elementor-element {
            @media (max-width: $break-lg) and (min-width: $break-tl) {
                &.e-grid {
                    gap: 15px;
                    > .elementor-element {
                        > .elementor-widget-container {
                            padding: 30px 10px;
                        }
                    }
                }
            }
        }
    }
    &.bt-why-choose-us-home2 {
        > .elementor-element {
            &:first-child {
                .bt-line-circle {
                    width: 500px;
                    height: 500px;
                    border-radius: 50%;
                    border-top: 2px solid $color-accent;
                    border-right: 2px solid $color-accent;
                    border-left: 2px solid $color-secondary;
                    border-bottom: 2px solid $color-secondary;
                    animation: spin 10s infinite linear;
                    img {
                        animation: spin 10s infinite reverse linear;
                    }
                    @media (max-width: 1270px) and (min-width: $break-tl) {
                        width: 82%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        right: 19%;
                    }
                    @media (max-width: 690px) {
                        width: 81%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        left: 9px;
                        top: 13%;
                        right: auto;
                    }
                }
                .elementor-widget-counter {
                    &::before {
                        content: "";
                        width: 186px;
                        height: 186px;
                        border-radius: 50%;
                        background: #fff;
                        position: absolute;
                        z-index: -1;
                        bottom: -36px;
                        left: -46px;
                        @media (max-width: 1270px) and (min-width: $break-tl) {
                            width: 160px;
                            height: 160px;
                            bottom: -41px;
                            left: -25px;
                        }
                    }
                }
                @media (max-width: $break-tl) and (min-width: 690px) {
                    .bt-line-circle {
                        right: auto;
                    }
                    .elementor-widget-icon {
                        right: auto;
                        left: 399px;
                    }
                    .elementor-widget-counter {
                        right: auto;
                        left: 400px;
                    }
                }
                @media (max-width: 690px) {
                    .elementor-widget-icon {
                        right: auto;
                        left: 63%;
                        .elementor-icon svg {
                            height: 65px;
                            width: 65px;
                        }
                    }
                    .elementor-widget-counter {
                        right: auto;
                        left: 60%;
                        &::before {
                            width: 100px;
                            height: 100px;
                            bottom: -23px;
                            left: -15px;
                        }
                        .elementor-counter-title {
                            font-size: 13px;
                        }
                        .elementor-counter-number-wrapper {
                            font-size: 30px;
                        }
                    }
                }
            }
            &:last-child {
                .elementor-icon-list-items {
                    .elementor-icon-list-item {
                        > a {
                            padding-bottom: 21px;
                        }
                    }
                }
                @media (max-width: 1270px) and (min-width: $break-tl) {
                    .bt-elwg-highlighted-heading {
                        h3 {
                            font-size: 45px;
                            line-height: 55px;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-service-home-2 {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:last-child {
                        .bt-elwg-service-loop-item--default {
                            .bt-post--inner {
                                @media (max-width: $break-lg) and (min-width: $break-tl) {
                                    padding: 30px 15px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-pricing {
        > .elementor-element {
            > .e-con-inner {
                position: relative;
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    > .elementor-element {
                        &:first-child {
                            width: 48%;
                        }
                        &:nth-child(2) {
                            width: 52%;
                        }
                        &:last-child {
                            left: 15%;
                        }
                    }
                }
            }
        }
    }
    &.bt-item-pricing-home2 {
        > .e-con-inner {
            > .elementor-element {
                &:nth-child(2) {
                    .elementor-counter-number-prefix {
                        text-decoration-line: underline;
                        text-underline-offset: 4px;
                    }
                }
                &:last-child {
                    .elementor-icon-list-items {
                        display: grid;
                        grid-gap: 18px;
                        grid-template-columns: repeat(2, 1fr);
                        @media (max-width: $break-xs) {
                            grid-gap: 5px;
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-service-home2 {
        > .e-con-inner {
            > .elementor-element {
                &:last-child {
                    .elementor-loop-container {
                        @media (max-width: $break-lg) and (min-width: $break-tl) {
                            grid-template-columns: repeat(3, 1fr);
                        }
                    }
                }
            }
        }
    }
    &.bt-section-blog-home-2 {
        > .elementor-element {
            &:first-child {
                @media (min-width: 2500px) {
                    width: 40%;
                }
                @media (max-width: 1500px) and (min-width: $break-tl) {
                    width: 30%;
                }
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    width: 26%;
                }
            }
            &:last-child {
                position: initial;
                padding-right: 15px;
                > .elementor-element {
                    position: initial;
                    .swiper-pagination-bullets {
                        position: absolute;
                        left: 15px;
                        bottom: auto;
                        top: auto;
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        @media (min-width: 1450px) {
                            left: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
                        }
                        @media (max-width: $break-tl) {
                            bottom: -30px;
                            position: relative;
                            left: auto;
                            width: 100%;
                            justify-content: center;
                        }
                        .swiper-pagination-bullet {
                            margin: 0;
                            height: 8px;
                            border-radius: 10px;
                            &.swiper-pagination-bullet-active {
                                background: $color-accent;
                            }
                        }
                    }
                }
                @media (min-width: 2500px) {
                    width: 60%;
                }
                @media (min-width: 1807px) {
                    &.bt-col-container-right {
                        padding-right: calc((var(--width-body) + 5px - 1777px) / 2);
                    }
                }
                @media (max-width: 1500px) and (min-width: $break-tl) {
                    width: 70%;
                }
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    width: 74%;
                    > .elementor-element {
                        .bt-elwg-post-loop-item--style-1 {
                            .bt-cover-image {
                                min-height: 240px;
                            }
                            .bt-post--content {
                                padding: 45px 15px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-featured {
        @media (max-width: $break-lg) and (min-width: $break-tl) {
            margin-top: 0 !important;
            .elementor-widget-counter {
                > .elementor-widget-container {
                    padding: 20px 15px !important;
                }
            }
        }
    }
    &.bt-section-about-home3 {
        > .e-con-inner {
            > .elementor-element {
                &:last-child {
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        padding-left: 30px;
                    }
                }
                .bt-col-view-report {
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        margin-top: -80px;
                    }
                    .elementor-widget-icon {
                        > .elementor-widget-container {
                            position: relative;
                            overflow: hidden;
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                background: $color-accent;
                                border-radius: 50%;
                                transform: translate(-50%, 50%) scale(0);
                                transition: transform 0.9s ease;
                            }
                            &:hover {
                                &::before {
                                    transform: translate(-50%, 50%) scale(3);
                                }
                                svg {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-service-home3 {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    &:last-child {
                        .bt-button-view-more {
                            .elementor-button-wrapper {
                                .elementor-button {
                                    position: relative;
                                    overflow: hidden;
                                    .elementor-button-content-wrapper {
                                        flex-direction: column-reverse;
                                        gap: 11px;
                                        flex-wrap: wrap;
                                        position: relative;
                                        z-index: 1;
                                        .elementor-button-icon {
                                            justify-content: center;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: $color-secondary;
                                        border-radius: 50%;
                                        transform: translate(-50%, 50%) scale(0);
                                        transition: transform 0.9s ease;
                                    }
                                    &:hover {
                                        &::before {
                                            transform: translate(-50%, 50%) scale(3);
                                        }
                                    }
                                    @media (max-width: $break-xs) {
                                        padding: 39px 24px 38px 25px;
                                        font-size: 14px;
                                        .elementor-button-icon svg {
                                            width: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-solutions-home3 {
        .bt-elwg-solution-item--default {
            .bt-solution {
                @media (max-width: 1270px) and (min-width: $break-tl) {
                    padding: 30px 20px 0;
                    &--description {
                        font-size: 16px;
                        br {
                            display: none;
                        }
                    }
                    &--button {
                        font-size: 14px;
                    }
                }
                @media (max-width: 860px) and (min-width: $break-sm) {
                    padding: 30px 20px 0;
                }
            }
        }
    }
    &.bt-section-company-home3 {
        .bt-elwg-highlighted-heading {
            .__text-highlighted span {
                font-weight: 700;
            }
        }
    }
    &.bt-section-consultation {
        > .elementor-element {
            > .e-con-inner {
                > .elementor-element {
                    .gform_wrapper {
                        .gform_heading {
                            display: none;
                        }
                        .gform_confirmation_message {
                            margin-bottom: 100px;
                        }
                    }
                    .elementor-widget-icon-box {
                        > .elementor-widget-container {
                            .elementor-icon-box-title {
                                a {
                                    position: relative;
                                    padding-bottom: 30px;
                                    display: block;
                                }
                            }
                            .elementor-icon-box-description {
                                text-underline-offset: 3px;
                                text-decoration-thickness: 1px;
                                margin-top: -30px;
                            }
                        }
                        @media (max-width: 1310px) and (min-width: $break-tl) {
                            --align-self: initial;
                            > .elementor-widget-container {
                                margin-top: 20px;
                                .elementor-icon {
                                    font-size: 50px;
                                }
                                .elementor-icon-box-description {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    @media(min-width:2000px){
                        &:last-child{
                            left: 29%;
                        }
                    }
                    @media(min-width:2280px){
                        &:last-child{
                            left: 32%;
                        }
                    }
                    @media (max-width: 1260px) and (min-width: $break-tl) {
                        &:nth-child(2) {
                            > .elementor-element {
                                width: auto;
                                padding: 30px;
                            }
                        }
                        &:first-child {
                            > .elementor-element {
                                &:last-child {
                                    width: auto;
                                }
                            }
                        }
                        &:last-child {
                            left: 8%;
                        }
                    }
                    @media (max-width: 870px) and (min-width: $break-sm) {
                        &:nth-child(2) {
                            > .elementor-element {
                                width: 100%;
                            }
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.bt-section-report-home3 {
        > .e-con-inner {
            > .elementor-element {
                &:first-child {
                    > .elementor-element {
                        &:last-child {
                            > .elementor-element {
                                @media (max-width: $break-lg) and (min-width: $break-tl) {
                                    padding: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-pricing-home3 {
        .bt-elwg-highlighted-heading {
            .__text-highlighted span {
                font-weight: inherit;
            }
        }
    }

    &.bt-data-visualization {
        .elementor-progress-wrapper {
            position: relative;
            &::before {
                content: "";
                height: 41px;
                background-color: #f0f7f3;
                width: 100%;
                display: block;
                position: absolute;
                border-radius: 20px;
            }
            .elementor-progress-bar {
                position: relative;
                border-radius: 20px 0 0 20px;
                margin-bottom: 25px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 64px;
                    top: 0;
                    right: 0;
                    background: #abe4a3;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid #abe4a3;
                    right: -10px;
                    bottom: -23px;
                }
            }
        }
    }
    &.bt-section-contact {
        position: relative;
        @media (min-width: $break-tl) {
            &::before {
                content: "";
                background: $color-accent;
                width: 36%;
                left: auto;
                right: 0;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
            }
        }
        .gform_wrapper {
            .gform_heading {
                display: none;
            }
            .gform-body {
                input:not([type="checkbox"], [type="radio"]),
                select,
                textarea {
                    background: #fff;
                }
                .select2-container--default .select2-selection--single {
                    background: #fff;
                }
            }
        }
        > .e-con-inner {
            > .elementor-element {
                &:last-child {
                    @media (max-width: 1260px) and (min-width: $break-tl) {
                        padding-left: 0;
                        padding-right: 0;
                        > .elementor-element {
                            &:last-child {
                                > .elementor-element {
                                    width: auto;
                                    padding: 30px;
                                }
                            }
                            &:first-child {
                                > .elementor-element {
                                    &:last-child {
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                    @media (max-width: 870px) and (min-width: $break-sm) {
                        > .elementor-element {
                            &:last-child {
                                > .elementor-element {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-your-work {
        > .e-con-inner {
            > .elementor-element {
                .elementor-widget-icon-box {
                    .elementor-icon-box-icon {
                        display: flex;
                    }
                    .elementor-icon-box-title{
                        text-underline-offset: 3px;
                        text-decoration-thickness: 2px;
                        a{
                            text-underline-offset: 3px;
                            text-decoration-thickness: 2px;
                        }
                    }
                }
                &:last-child {
                    @media (max-width: $break-lg) and (min-width: $break-tl) {
                        > .elementor-element {
                            &:first-child {
                                > .elementor-widget-container {
                                    padding-left: 0;
                                }
                            }
                            &:nth-child(2) {
                                > .elementor-widget-container {
                                    padding-right: 0;
                                    margin-top: -64%;
                                }
                            }
                            &:last-child {
                                right: 55%;
                            }
                        }
                    }
                    @media (max-width: $break-tl) {
                        margin: 0 auto;
                    }

                    > .elementor-element {
                        &.bt-counter-careers {
                            @media (max-width: $break-sm) {
                                position: relative;
                            }
                            @media (max-width: $break-sm) and (min-width: $break-xs) {
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-open-job {
        .bt-elwg-highlighted-heading {
            h3 {
                span {
                    color: $color-accent;
                    font-weight: 400;
                }
            }
        }
    }
}
