/* Error: expected "{".
 *      ,
 * 2545 | >>>>>>> 6207064bc62c2efbbf2ad16827b68927585a5763
 *      |                                                 ^
 *      '
 *   chambeshi/assets/sass/_elementor.scss 2545:49  @import
 *   chambeshi/assets/sass/main.scss 27:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 2545 \2502  >>>>>>> 6207064bc62c2efbbf2ad16827b68927585a5763\a      \2502                                                  ^\a      \2575 \a   chambeshi/assets/sass/_elementor.scss 2545:49  @import\a   chambeshi/assets/sass/main.scss 27:9           root stylesheet';
}
